{# {% extends '::base.html.twig' %}

{% block body -%}
    <h1>User edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
#}

{% extends '::base.html.twig' %}

{% block body -%}
<section class="wrapper">

  <div class="row">

    <div class="col-lg-12">
      {{ form_start(edit_form, {'attr': {'role': 'form', 'id': 'mch_contractsbundle_user' }}) }}
      {{ form_errors(edit_form) }}
      <section class="panel">
        <header class="panel-heading">
          Edit User
        </header>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              {{ form_label(edit_form.fullname, null, {'label': 'Full Name', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.fullname, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(edit_form.password, null, {'label': 'Password', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.password, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(edit_form.email, null, {'label': 'Email', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.email, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(edit_form.phone, null, {'label': 'Phone', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.phone, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(edit_form.address, null, {'label': 'Personal Address', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.address, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(edit_form.position, null, {'label': 'Position', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.position, {'attr': {'class': 'form-control' }}) }}
              </div>
            </div>
            <div class="form-group">
              {{ form_label(edit_form.twitter, null, {'label': 'Twitter', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.twitter, {'attr': {'class': 'form-control' }}) }}
                <p class="help-block"><i>Twitter ID</i></p>
              </div>
            </div>
            <div class="form-group">
              {{ form_label(edit_form.linkedin, null, {'label': 'LinkedIn', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.linkedin, {'attr': {'class': 'form-control' }}) }}
                <p class="help-block"><i>LinkedIn ID</i></p>
              </div>
            </div>
            <div class="form-group">
              {{ form_label(edit_form.skype, null, {'label': 'Skype', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.skype, {'attr': {'class': 'form-control' }}) }}
                <p class="help-block"><i>Skype ID</i></p>
              </div>
            </div>
            <div class="form-group">
              {{ form_label(edit_form.photo, null, {'label': 'Photo', 'label_attr': {'class': 'col-lg-2 col-sm-2 control-label' }}
              ) }}
              <div class="col-lg-4">
                {{ form_widget(edit_form.photo) }}
              </div>
            </div>
          </div>
        </div>
      </section>

      <ul class="record_actions">
        <li>
          <a href="{{ path('user') }}">
            <button type="button" class="btn btn-info btn-xs"><i class="fa fa-arrow-left"></i> Back to users list
            </button>
          </a>
        </li>
        <li>
          <a href="{{ path('user_delete', { 'id': entity.id }) }}">
            <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-ban"></i> Delete user
            </button>
          </a>
        </li>
      </ul>

      {{ form_widget(edit_form.submit, {'label': ' Update User', 'attr': {'class': 'btn btn-danger fa fa-floppy-o' }}) }}

      {{ form_end(edit_form) }}
    </div>
  </div>
</section>
{% endblock %}
