{% extends '::base.html.twig' %}

{% block body -%}
    {# <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fullname</th>
                <td>{{ entity.fullname }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ entity.rol }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ entity.salt }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul> #}

<section class="wrapper">
  <!-- page start-->
  <div class="row">
      <aside class="profile-nav col-lg-3">
          <section class="panel">
              <div class="user-heading round">
                  <a>
                      <img src="/bundles/mchcrm/users/{{ entity.photo ? entity.photo : 'empty_user.png' }}" alt="">
                  </a>
                  <h1>{{ entity.fullname }}</h1>
                  <p>{{ entity.email }}</p>
              </div>

              <ul class="nav nav-pills nav-stacked">
                  {# <li class="active"><a href="profile.html"> <i class="icon-user"></i> Profile</a></li> #}
                  {# <li><a href="profile-activity.html"> <i class="icon-calendar"></i> Recent Activity <span class="label label-danger pull-right r-activity">9</span></a></li> #}
                  <li><a href="{{ path('user_edit', { 'id': entity.id }) }}"> <i class="icon-edit"></i> Edit profile</a></li>
              </ul>

          </section>
      </aside>
      <aside class="profile-info col-lg-9">
          {# <section class="panel">
              <form>
                  <textarea placeholder="Whats in your mind today?" rows="2" class="form-control input-lg p-text-area"></textarea>
              </form>
              <footer class="panel-footer">
                  <button class="btn btn-danger pull-right">Post</button>
                  <ul class="nav nav-pills">
                      <li>
                          <a href="#"><i class="icon-map-marker"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="icon-camera"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class=" icon-film"></i></a>
                      </li>
                      <li>
                          <a href="#"><i class="icon-microphone"></i></a>
                      </li>
                  </ul>
              </footer>
          </section> #}
          <section class="panel">
              {# <div class="bio-graph-heading">
                  Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
              </div> #}
              <div class="panel-body bio-graph-info">
                  <h1>User Info</h1>
                  <div class="row">
                      <div class="bio-row">
                          {% if entity.address %}
                          <p><span>Address </span>: {{ entity.address }}</p>
                          {% endif %}
                          {% if entity.phone %}
                          <p><span>Phone </span>: {{ entity.phone }}</p>
                          {% endif %}
                          {% if entity.position %}
                          <p><span>Position </span>: {{ entity.position }}</p>
                          {% endif %}
                          <ul class="social-links list-inline">
                              {% if entity.twitter %}
                              <li>
                                  <a target="_blank" title="" data-placement="bottom" data-toggle="tooltip" class="tooltips" href="https://twitter.com/{{ entity.twitter }}" data-original-title="Twitter">
                                    <i class="fa fa-twitter fa-5x"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% if entity.linkedin %}
                            <li>
                                <a target="_blank" title="" data-placement="bottom" data-toggle="tooltip" class="tooltips" href="https://www.linkedin.com/in/{{ entity.linkedin }}" data-original-title="LinkedIn">
                                  <i class="fa fa-linkedin fa-5x"></i>
                              </a>
                          </li>
                          {% endif %}
                          {% if entity.skype %}
                          <li>
                            <a title="" data-placement="bottom" data-toggle="tooltip" class="tooltips" href="skype:{{ entity.skype }}?call" data-original-title="Skype">
                              <i class="fa fa-skype fa-5x"></i>
                          </a>
                      </li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </div>
  </section>
          {# <section>
              <div class="row">
                  <div class="col-lg-6">
                      <div class="panel">
                          <div class="panel-body">
                              <div class="bio-chart">
                                  <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="35" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background-image: none; font-weight: bold; font-style: normal; font-variant: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none; background-position: initial initial; background-repeat: initial initial;"></div>
                              </div>
                              <div class="bio-desk">
                                  <h4 class="red">Envato Website</h4>
                                  <p>Started : 15 July</p>
                                  <p>Deadline : 15 August</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="panel">
                          <div class="panel-body">
                              <div class="bio-chart">
                                  <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="63" data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background-image: none; font-weight: bold; font-style: normal; font-variant: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none; background-position: initial initial; background-repeat: initial initial;"></div>
                              </div>
                              <div class="bio-desk">
                                  <h4 class="terques">ThemeForest CMS </h4>
                                  <p>Started : 15 July</p>
                                  <p>Deadline : 15 August</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="panel">
                          <div class="panel-body">
                              <div class="bio-chart">
                                  <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="75" data-fgcolor="#96be4b" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background-image: none; font-weight: bold; font-style: normal; font-variant: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(150, 190, 75); padding: 0px; -webkit-appearance: none; background-position: initial initial; background-repeat: initial initial;"></div>
                              </div>
                              <div class="bio-desk">
                                  <h4 class="green">VectorLab Portfolio</h4>
                                  <p>Started : 15 July</p>
                                  <p>Deadline : 15 August</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="panel">
                          <div class="panel-body">
                              <div class="bio-chart">
                                  <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="50" data-fgcolor="#cba4db" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; background-image: none; font-weight: bold; font-style: normal; font-variant: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(203, 164, 219); padding: 0px; -webkit-appearance: none; background-position: initial initial; background-repeat: initial initial;"></div>
                              </div>
                              <div class="bio-desk">
                                  <h4 class="purple">Adobe Muse Template</h4>
                                  <p>Started : 15 July</p>
                                  <p>Deadline : 15 August</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section> #}
      </aside>
  </div>

  <!-- page end-->
</section>
{% endblock %}
