<!DOCTYPE html>
<html lang="en">

{% set route = app.request.attributes.get('_route') %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>{% block title %}Mountain Cove Homes CRM!{% endblock %}</title>

    {% block stylesheets %}

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/mchcrm/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/mchcrm/css/bootstrap-reset.css') }}" rel="stylesheet">

    <!--external css-->
    {# <link href="{{ asset('bundles/mchcrm/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" /> #}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/mchcrm/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css') }}" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{{ asset('bundles/mchcrm/css/owl.carousel.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('bundles/mchcrm/assets/bootstrap-datepicker/css/datepicker.css') }}" type="text/css">
    {# <link rel="stylesheet" href="{{ asset('bundles/mchcrm/assets/data-tables/DT_bootstrap.css') }}" type="text/css"> #}

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/mchcrm/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/mchcrm/css/style-responsive.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/mchcrm/css/style-responsive.css') }}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
            <!--[if lt IE 9]>
              <script src="{{ asset('bundles/mchcrm/js/html5shiv.js') }}"></script>
              <script src="{{ asset('js/respond.min.js') }}"></script>
              <![endif]-->

              {% endblock %}
              <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
          </head>
          <body>

            <section id="container" >
              <!--header start-->
              <header class="header white-bg">
            {# <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars fa-lg tooltips"></div>
            </div> #}
            <!--logo start-->
            <a href="{{ path('mch_contracts_homepage') }}" class="logo">Mountain Cove Homes <span>CRM</span></a>
            <!--logo end-->
            {# <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-tasks"></i>
                            <span class="badge bg-success">6</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 6 pending tasks</p>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Dashboard v1.3</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Iphone Development</div>
                                        <div class="percent">87%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                            <span class="sr-only">87% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Mobile App</div>
                                        <div class="percent">33%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                                            <span class="sr-only">33% Complete (danger)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="task-info">
                                        <div class="desc">Dashboard v1.3</div>
                                        <div class="percent">45%</div>
                                    </div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            <span class="sr-only">45% Complete</span>
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope-alt"></i>
                            <span class="badge bg-important">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-red"></div>
                            <li>
                                <p class="red">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="./img/avatar-mini.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Jonathan Smith</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hello, this is an example msg.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="./img/avatar-mini2.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Jhon Doe</span>
                                    <span class="time">10 mins</span>
                                    </span>
                                    <span class="message">
                                     Hi, Jhon Doe Bhai how are you ?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="./img/avatar-mini3.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Jason Stathum</span>
                                    <span class="time">3 hrs</span>
                                    </span>
                                    <span class="message">
                                        This is awesome dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="photo"><img alt="avatar" src="./img/avatar-mini4.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Jondi Rose</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hello, this is metrolab
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                            <i class="icon-bell-alt"></i>
                            <span class="badge bg-warning">7</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-yellow"></div>
                            <li>
                                <p class="yellow">You have 7 new notifications</p>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="icon-bolt"></i></span>
                                    Server #3 overloaded.
                                    <span class="small italic">34 mins</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-warning"><i class="icon-bell"></i></span>
                                    Server #10 not respoding.
                                    <span class="small italic">1 Hours</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-danger"><i class="icon-bolt"></i></span>
                                    Database overloaded 24%.
                                    <span class="small italic">4 hrs</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-success"><i class="icon-plus"></i></span>
                                    New user registered.
                                    <span class="small italic">Just now</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-info"><i class="icon-bullhorn"></i></span>
                                    Application error.
                                    <span class="small italic">10 mins</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">See all notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div> #}
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    {# <li>
                        <input type="text" class="form-control search" placeholder="Search">
                    </li> #}
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            {% if app.user.photo %}
                            <img alt="" src="{{ asset('bundles/mchcrm/users/' ~ app.user.photo) }}">
                            {% else %}
                            <img alt="" src="{{ asset('bundles/mchcrm/users/empty_user.png') }}">
                            {% endif %}
                            <span class="username">{{ app.user.fullname }}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="{{ path('user_show', { 'id': app.user.id }) }}"><i class=" fa fa-suitcase"></i>Profile</a></li>
                            {# <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li> #}
                            <li><a href="{{ path('logout') }}"><i class="icon-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
                  <li>
                      <a {% if 'mch_contracts_homepage' == route %} class="active" {% endif %} href="{{ path('mch_contracts_homepage') }}">
                          <i class="fa fa-tachometer"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li>
                      <a {% if 'contract' == route or 'contract_new' == route or 'contract_edit' == route %} class="active" {% endif %} href="{{ path('contract') }}" >
                          <i class="fa fa-file-text-o"></i>
                          <span>Contracts</span>
                      </a>
                  </li>

                  <li>
                      <a {% if 'user' == route or 'user_new' == route or 'user_edit' == route %} class="active" {% endif %} href="{{ path('user') }}" >
                          <i class="fa fa-users"></i>
                          <span>Users</span>
                      </a>
                  </li>

                  {# <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-book"></i>
                          <span>UI Elements</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="general.html">General</a></li>
                          <li><a  href="buttons.html">Buttons</a></li>
                          <li><a  href="widget.html">Widget</a></li>
                          <li><a  href="slider.html">Slider</a></li>
                          <li><a  href="nestable.html">Nestable</a></li>
                          <li><a  href="font_awesome.html">Font Awesome</a></li>
                      </ul>
                  </li> #}

                  {# <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-cogs"></i>
                          <span>Components</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="grids.html">Grids</a></li>
                          <li><a  href="calendar.html">Calendar</a></li>
                          <li><a  href="gallery.html">Gallery</a></li>
                          <li><a  href="todo_list.html">Todo List</a></li>
                      </ul>
                  </li> #}
                  {# <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-tasks"></i>
                          <span>Form Stuff</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="form_component.html">Form Components</a></li>
                          <li><a  href="advanced_form_components.html">Advanced Components</a></li>
                          <li><a  href="form_wizard.html">Form Wizard</a></li>
                          <li><a  href="form_validation.html">Form Validation</a></li>
                          <li><a  href="dropzone.html">Dropzone File Upload</a></li>
                          <li><a  href="inline_editor.html">Inline Editor</a></li>
                          <li><a  href="image_cropping.html">Image Cropping</a></li>
                      </ul>
                  </li> #}
                  {# <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-th"></i>
                          <span>Data Tables</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="basic_table.html">Basic Table</a></li>
                          <li><a  href="responsive_table.html">Responsive Table</a></li>
                          <li><a  href="dynamic_table.html">Dynamic Table</a></li>
                          <li><a  href="advanced_table.html">Advanced Table</a></li>
                          <li><a  href="editable_table.html">Editable Table</a></li>
                      </ul>
                  </li> #}
                  {# <li>
                      <a  href="inbox.html">
                          <i class="icon-envelope"></i>
                          <span>Mail </span>
                          <span class="label label-danger pull-right mail-info">2</span>
                      </a>
                  </li> #}
                  {# <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" icon-bar-chart"></i>
                          <span>Charts</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">Morris</a></li>
                          <li><a  href="chartjs.html">Chartjs</a></li>
                          <li><a  href="flot_chart.html">Flot Charts</a></li>
                          <li><a  href="xchart.html">xChart</a></li>
                      </ul>
                  </li> #}
                  {# <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-shopping-cart"></i>
                          <span>Shop</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="product_list.html">List View</a></li>
                          <li><a  href="product_details.html">Details View</a></li>
                      </ul>
                  </li> #}
                  {# <li>
                      <a href="google_maps.html" >
                          <i class="icon-map-marker"></i>
                          <span>Google Maps </span>
                      </a>
                  </li> #}
                  {# <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-glass"></i>
                          <span>Extra</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html">Blank Page</a></li>
                          <li><a  href="lock_screen.html">Lock Screen</a></li>
                          <li><a  href="profile.html">Profile</a></li>
                          <li><a  href="invoice.html">Invoice</a></li>
                          <li><a  href="search_result.html">Search Result</a></li>
                          <li><a  href="404.html">404 Error</a></li>
                          <li><a  href="500.html">500 Error</a></li>
                      </ul>
                  </li> #}
                  {# <li>
                      <a  href="login.html">
                          <i class="icon-user"></i>
                          <span>Login Page</span>
                      </a>
                  </li> #}

                  <!--multi level menu start-->
                  {# <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-sitemap"></i>
                          <span>Multi level Menu</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="javascript:;">Menu Item 1</a></li>
                          <li class="sub-menu">
                              <a  href="boxed_page.html">Menu Item 2</a>
                              <ul class="sub">
                                  <li><a  href="javascript:;">Menu Item 2.1</a></li>
                                  <li class="sub-menu">
                                      <a  href="javascript:;">Menu Item 3</a>
                                      <ul class="sub">
                                          <li><a  href="javascript:;">Menu Item 3.1</a></li>
                                          <li><a  href="javascript:;">Menu Item 3.2</a></li>
                                      </ul>
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </li> #}
                  <!--multi level menu end-->

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">

          {% block bodyHeader %}{% endblock %}
          {% block body %}{% endblock %}
          {% block bodyFoot %}{% endblock %}

      </section>
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 &copy; Mountain Cove Homes CRM.
              <a href="#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

  {# {% block body %}{% endblock %} #}

  {% block javascripts %}

  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{{ asset('bundles/mchcrm/js/jquery.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/js/jquery-1.8.3.min.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/js/bootstrap.min.js') }}"></script>
  <script class="include" type="text/javascript" src="{{ asset('bundles/mchcrm/js/jquery.dcjqaccordion.2.7.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/js/jquery.scrollTo.min.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/js/jquery.nicescroll.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/mchcrm/js/jquery.sparkline.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/mchcrm/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/js/owl.carousel.js') }}" ></script>
  <script src="{{ asset('bundles/mchcrm/js/jquery.customSelect.min.js') }}" ></script>
  <script src="{{ asset('bundles/mchcrm/js/respond.min.js') }}" ></script>

  <script class="include" type="text/javascript" src="{{ asset('bundles/mchcrm/js/jquery.dcjqaccordion.2.7.js') }}"></script>

  <!--common script for all pages-->
  <script src="{{ asset('bundles/mchcrm/js/common-scripts.js') }}"></script>

  <!--script for this page-->
  <script src="{{ asset('bundles/mchcrm/js/sparkline-chart.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/js/easy-pie-chart.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/js/count.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/js/count.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/assets/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/assets/data-tables/jquery.dataTables.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/mchcrm/assets/data-tables/DT_bootstrap.js') }}" type="text/javascript"></script>
  <script src="{{ asset('bundles/mchcrm/js/editable-table.js') }}"></script>
  <script src="{{ asset('bundles/mchcrm/assets/bootstrap-inputmask/bootstrap-inputmask.min.js') }}" type="text/javascript"></script>

  <script>

              //owl carousel

              $(document).ready(function() {
                  $("#owl-demo").owlCarousel({
                      navigation : true,
                      slideSpeed : 300,
                      paginationSpeed : 400,
                      singleItem : true,
                      autoPlay:true

                  });
              });

              //custom select box

              $(function(){
                  $('select.styled').customSelect();
              });

              $('.default-date-picker').datepicker()

              jQuery(document).ready(function() {
                  EditableTable.init();
              });

          </script>

          {% endblock %}
      </body>
      </html>
