<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-19-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-19-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-19-central_tittle" class="central-page"><h2>Addendum to Modify</h2></div>
    <div id="page-19-top_div">
        <p>
            This Amendment to Purchase Agreement is made by and between Mountain Cove Homes at South Dade, LLC (Seller)
            {{ contract.buyerInformation.buyers1 }}/{{ contract.buyerInformation.buyers2 }} (“Buyer(s)”) forming a part of that certain Purchase and Sale
            Agreement dated (“Agreement”) covering the property legally described as Lot / Block {{ contract.realPropInf.lot }}, {{ contract.realPropInf.block }}
            Plat Book {{ contract.realPropInf.platBookNumber }} at Page {{ contract.realPropInf.platBookPage }}.
        </p>
        <p>
            The above described Purchase Agreement is hereby modified as follows:
        </p>
    </div>

    <div id="page-19-central_div">
        <p>
            The Buyer(s) acknowledgesdescribed herewith.
            any surplus amountof said discount will expire and will not be used asa credit in any other way than
        </p>
    </div>
    <div id="page-19-bottom_div">
        <div id="page-19-bottom_div_2"> <p><b>Purchaser: </b></p> </div>
        <div id="page-19-bottom_div_3"> <p><b>Seller:</b></p> </div>
        <div style="margin-top: -10px">
            <div id="page-19-bottom_div_4"> <p>___________________________________________</p> </div>
            <div id="page-19-bottom_div_5"> <p>___________________________________________</p> </div>
        </div>

        <div>
            <div id="page-19-bottom_div_7"> <p><b>Date:</b> _____________________________________</p> </div>
            <div id="page-19-bottom_div_8"> <p><b>Date:</b> _____________________________________</p> </div>
        </div>

        <div id="page-19-bottom_div_9"> <p><b>Purchaser: </b></p> </div>
        <div id="page-19-bottom_div_10"> <p>___________________________________________</p> </div>
        <div id="page-19-bottom_div_11" style="margin-top: 40px"> <p><b>Date:</b> _____________________________________</p> </div>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>