<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-13-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-13-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-13-central_tittle" class="central-page"><h2>Amendment I to Realtor-Client Registration Form</h2></div>

    <div id="page-13-top_div" style="margin-top: 80px" >
        <p>This Amendment Ito Realtor-Client Registration Form is made by and between _________________________, (“Seller”)</p>
        <p>and with (‘Agency’) forming a part of that certain Realtor-Client Registration Form for Lot / Block _________________</p>
    </div>

    <div id="page-13-central_div" style="margin-top: 60px;">
        <p>
            Broker’s commission is {{ contract.brokerInformation.commisionRate }}%
        </p>
        <p class="page-13-separate_p">
            Broker’s bonus amount of $ {{ contract.brokerInformation.bonusAmount }}
        </p>
        <p class="page-13-separate_p">
            Dated this ___________________________
        </p>
    </div>
    <div id="page-13-bottom-div" style="margin-top: 120px;">
        <div id="page-13-bottom_subdiv_2" class="page-13-bottom_div"><p><b>Realtor/Broker:</b> </p> </div>
        <div id="page-13-bottom_subdiv_3" class="page-13-bottom_div"> <p><b>Seller:</b></p> </div>
    </div>
    <div id="page-13-bottom-div_2">
        <div id="page-13-bottom_subdiv_4" class="page-13-bottom_div_2"> <p>{{ contract.brokerInformation.companyName }}</p> </div>
        <div id="page-13-bottom_subdiv_5" class="page-13-bottom_div_2" style="margin-left: 200px"> <p>{{ contract.realPropInf.salesRep }}</p> </div>
    </div>

    <div id="page-13-bottom_div_3" class="page-13-bottom_div"> <p>Realtor / Broker signature</p> </div>

    <div id="page-13-bottom_div_4">
        <div class="page-13-bottom_subdiv_6"> <p>Date: _____________________________________</p> </div>
        <div class="page-13-bottom_subdiv_6" style="margin-left: 200px"> <p>Date: ______________________________________</p> </div>
    </div>

</div>
</div>
</body>
</html>

<div class="page-break"></div>