<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}">
  <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/assets/font-awesome/css/font-awesome.min.css') }}">
  <style type="text/css">
    body {
      font-size: 13px;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <h2 class="text-center">Transmittal Sheet</h2>

    <table class="table">
      <tbody>
        <tr>
          <td>
            <strong>Contract-Date:</strong> <u>{{ contract.date|format('m/d/Y') }}</u>
          </td>
          <td>
            <strong>Prepared By:</strong> <u>{{ contract.realPropInf.salesRep }}</u>
          </td>
          <td colspan="2">
            <strong>Estimated Close Date:</strong> <u>{{ contract.purchaseExp.estClosingDate }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Job Number:</strong> <u>{{ contract.explanationDep.jobNumber }}</u>
          </td>
          <td>
            <strong>Lot/Block:</strong> <u>{{ contract.realPropInf.lot }}/{{ contract.realPropInf.block }}</u>
          </td>
          <td>
            <strong>Plan #:</strong> <u>{{ contract.realPropInf.model|preg_replace('~_~', ' ')|title }}</u>
          </td>
          <td>
            <strong>Elevation:</strong> <u>{{ contract.realPropInf.elevation }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <strong>Buyer(s):</strong> <u>{{ contract.buyerInformation.buyers1 }}</u>
          </td>
          <td colspan="2">
            <strong>Garage Orientation:</strong> <u>{{ contract.realPropInf.garageOr|upper }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <strong>Buyer(s):</strong> <u>{{ contract.buyerInformation.buyers2 }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <strong>Buyer's Current Address:</strong> <u>{{ contract.buyerInformation.buyersCurrentAddress }}</u>
          </td>
          <td colspan="2">
            <strong>Email Address:</strong> <u>{{ contract.buyerInformation.email }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td colspan="2">
            <strong>Marital Status:</strong> <u>{{ contract.buyerInformation.maritalStatus|preg_replace('~_~', ' ')|title }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Work Phone:</strong> <u>{{ contract.buyerInformation.workPhone }}</u>
          </td>
          <td>
            <strong>Home Phone:</strong> <u>{{ contract.buyerInformation.homePhone }}</u>
          </td>
          <td colspan="2">
            <strong>Mobile Phone:</strong> <u>{{ contract.buyerInformation.mobilePhone }}</u>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="text-center">Sales Representative Contract Checklist:</h2>

    <table class="table">
      <tbody>
        <tr>
          <td>
            <ul class="list-unstyled">
              <li><i class="fa fa-square-o fa-lg"></i> 01. Information Survey</li>
              <li><i class="fa fa-square-o fa-lg"></i> 02. Memo</li>
              <li><i class="fa fa-square-o fa-lg"></i> 03. Management approval email</li>
              <li><i class="fa fa-square-o fa-lg"></i> 04. Deposit Form</li>
              <li><i class="fa fa-square-o fa-lg"></i> 05. Copy of All Buyer’s Drivers Licenses or other Government ID</li>
              <li><i class="fa fa-square-o fa-lg"></i> 06. Proof of Civil Servant</li>
              <li><i class="fa fa-square-o fa-lg"></i> 07. Notice to Buyer</li>
              <li><i class="fa fa-square-o fa-lg"></i> 08. Purchase Agreement</li>
              <li><i class="fa fa-square-o fa-lg"></i> 09. Occupancy Disclosure</li>
              <li><i class="fa fa-square-o fa-lg"></i> 10. CDD Notice</li>
              <li><i class="fa fa-square-o fa-lg"></i> 11. Taxing District</li>
              <li><i class="fa fa-square-o fa-lg"></i> 12. Escrow Disclosure</li>
              <li><i class="fa fa-square-o fa-lg"></i> 13. Realtor Client Registration</li>
              <li><i class="fa fa-square-o fa-lg"></i> 13a. Broker Participation Agreement</li>
              <li><i class="fa fa-square-o fa-lg"></i> 14. Amendment I to Realtor Client Registration From</li>
              <li><i class="fa fa-square-o fa-lg"></i> 14a. Addendum to Broker Agreement</li>
              <li><i class="fa fa-square-o fa-lg"></i> 15. Copy of Agent’s Business Card</li>
              <li><i class="fa fa-square-o fa-lg"></i> 16. Broker Rebate Certification</li>
              <li><i class="fa fa-square-o fa-lg"></i> 17. Broker Rebate Addendum</li>
              <li><i class="fa fa-square-o fa-lg"></i> 18. Community Addendum</li>
              <li><i class="fa fa-square-o fa-lg"></i> 19. Certification of Insulation</li>
              <li><i class="fa fa-square-o fa-lg"></i> 20. Sellers Affiliation</li>
            </ul>
          </td>
          <td>
            <ul class="list-unstyled">
              <li><i class="fa fa-square-o fa-lg"></i> 21. Builder’s Referral Incentives & Contributions</li>
              <li><i class="fa fa-square-o fa-lg"></i> 23. Tri-fold or Pre-Approval</li>
              <li><i class="fa fa-square-o fa-lg"></i> 24. Options Addendum</li>
              <li><i class="fa fa-square-o fa-lg"></i> 25. Appliance Sheet</li>
              <li><i class="fa fa-square-o fa-lg"></i> 26. Mold Disclosure, Disclaimer and Waiver</li>
              <li><i class="fa fa-square-o fa-lg"></i> 27. Design Checklist</li>
              <li><i class="fa fa-square-o fa-lg"></i> 28. Alarm Service</li>
              <li><i class="fa fa-square-o fa-lg"></i> 29. Addendum to Modify Purchase Agreement</li>
              <li><i class="fa fa-square-o fa-lg"></i> 30. FHA/VA Addendum</li>
              <li><i class="fa fa-square-o fa-lg"></i> 31. Completed Home Addendum</li>
              <li><i class="fa fa-square-o fa-lg"></i> 32. Price Protection Guarantee</li>
              <li><i class="fa fa-square-o fa-lg"></i> 33. Model Addendum</li>
              <li><i class="fa fa-square-o fa-lg"></i> 34. EFBD Disclosure Statement</li>
              <li><i class="fa fa-square-o fa-lg"></i> 35. Agricultural Addendum</li>
              <li><i class="fa fa-square-o fa-lg"></i> 36. Receipts of Documents</li>
              <li><i class="fa fa-square-o fa-lg"></i> 37. Preparing for your design appointment</li>
              <li><i class="fa fa-square-o fa-lg"></i> 38. Site Plan Addendum for Homeowner Approval</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <i class="fa fa-square-o fa-lg"></i> Give <strong>Buyer the Accordion Folder</strong>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <strong>Contract Receipt Date:</strong> <u>{{ contract.date|format('m/d/Y') }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <hr>
            <hr>
            <hr>
            <hr>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="page-break">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    {# {% if contract.realPropInf.mchCommunity == 'cutler_bay' %}
    {% set at = 'Cutler Bay' %}
    {% elseif contract.realPropInf.mchCommunity == 'tamiami' %}
    {% set at = 'Tamiami' %}
    {% elseif contract.realPropInf.mchCommunity == 'south_dade' %}
    {% set at = 'South Dade' %}
    {% elseif contract.realPropInf.mchCommunity == 'south_dade_2' %}
    {% set at = 'South Dade II' %}
    {% elseif contract.realPropInf.mchCommunity == 'villa_catalina_1' %}
    {% set at = 'Villa Catalina I' %}
    {% else %}
    {% set at = '' %}
    {% endif %} #}

    <div class="text-center">
      <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}">
      <h3>at {{ contract.realPropInf.mchCommunity|preg_replace('~_~', ' ')|title }}, LLC</h3>
    </div>

    <h2 class="text-center">Memo (for internal use only)</h2>

    <table class="table">
      <tbody>
        <tr>
          <td>
            <strong>To:</strong> <u>Mountain Cove Homes at {{ contract.realPropInf.mchCommunity|preg_replace('~_~', ' ')|title }}, LLC</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>From:</strong> <u>{{ contract.realPropInf.salesRep }}</u> (Sales Representative)
          </td>
        </tr>
        <tr>
          <td>
            <strong>Date:</strong> <u>{{ contract.date|format('m/d/Y') }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Subject:</strong> <u>{{ contract.realPropInf.lot }}/{{ contract.realPropInf.block }}</u> (Lot/Block )
          </td>
        </tr>
        <tr>
          <td>
            <strong>Purchaser:</strong> <u>{{ contract.buyerInformation.buyers1 }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Purchaser:</strong> <u>{{ contract.buyerInformation.buyers2 }}</u>
          </td>
        </tr>
        <tr>
          <td>
            This attached Purchase Agreement reflects the following changes which were approved by you on ____________
          </td>
        </tr>
        <tr>
          <td>
            <strong>BASE PRICE:</strong> $<u>{{ contract.purchaseExp.basePrice }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Lot Premium:</strong> $<u>{{ contract.purchaseExp.lotPremium }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Options:</strong> $<u>{{ contract.purchaseExp.options }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Base Price Incentive*:</strong> $<u>{{ contract.purchaseExp.basePriceIncentive }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Lot Premium Incentive*:</strong> <u>${{ contract.purchaseExp.lotPremiumIncentive }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Option Incentive*:</strong> <u>${{ contract.purchaseExp.optionIncentive }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>TOTAL SALES PRICE:</strong> <u>${{ contract.purchaseExp.totalSalesPrice }}</u>
          </td>
        </tr>
      </tbody>
    </table>

    <i>*Incentives may have contingencies</i>

    <div class="page-break">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="text-center">
      <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}">
      <h3>at {{ contract.realPropInf.mchCommunity|preg_replace('~_~', ' ')|title }}, LLC</h3>
    </div>

    <h2 class="text-center">Deposit Form/Check Receipt</h2>

    <table class="table">
      <tbody>
        <tr>
          <td colspan="3">
            <strong>Date:</strong> <u>{{ contract.date|format('m/d/Y') }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Buyer's Name:</strong> <u>{{ contract.buyerInformation.buyers1 }}</u>
          </td>
          <td colspan="2">
            <strong>AB #:</strong> <u>{{ contract.explanationDep.abaNumber }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <strong>Buyer's Name:</strong> <u>{{ contract.buyerInformation.buyers2 }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <strong>Job #:</strong> <u>{{ contract.explanationDep.jobNumber }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Subdivision #:</strong> <u>{{ contract.realPropInf.subdivision }}</u>
          </td>
          <td>
            <strong>Lot/Block:</strong> <u>{{ contract.realPropInf.lot }}/{{ contract.realPropInf.block }}</u>
          </td>
          <td>
            <strong>Model:</strong> <u>{{ contract.realPropInf.model|preg_replace('~_~', ' ')|title }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <strong>Sales Person:</strong> ___________________________
          </td>
        </tr>
      </tbody>
    </table>

    <div class="center-list">
      <ul class="list-unstyled">
        <li><i class="fa fa-square-o fa-lg"></i> Initial Deposit</li>
        <li><i class="fa fa-square-o fa-lg"></i> Additional Deposit</li>
        <li><i class="fa fa-square-o fa-lg"></i> Design Deposit</li>
      </ul>
    </div>

    <h3 class="text-center">Verify all deposits are payable to proper account:</h3>

    <table class="table">
      <tbody>
        <tr>
          <td colspan="2">
            <ul class="list-unstyled">
              <li><i class="fa {{ contract.explanationDep.checksMadeOutTo == 'mch' ? 'fa-check-square-o' : 'fa-square-o' }} fa-lg"></i> Mountain Cove Homes at South Dade, LLC</li>
              <li><i class="fa {{ contract.explanationDep.checksMadeOutTo == 'alexis' ? 'fa-check-square-o' : 'fa-square-o' }} fa-lg"></i> Law Offices of Alexis Gonzalez, PA Trust Account</li>
              <li><i class="fa {{ contract.explanationDep.checksMadeOutTo == 'other' ? 'fa-check-square-o' : 'fa-square-o' }} fa-lg"></i> Other: _____________________________</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Purchase Price:</strong> <u>${{ contract.purchaseExp.totalSalesPrice|number_format(2, '.', ',') }}</u>
          </td>
          <td>
            {% set totalDeposits = 0 %}
            {% for check in tableOfDeposits %}
            {% set totalDeposits = totalDeposits + check.amount %}
            {% endfor %}
            <strong>Deposit Amount:</strong> <u>${{ totalDeposits|number_format(2, '.', ',') }}</u>
          </td>
        </tr>
      </tbody>
    </table>

    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="text-center"><i>ATTACH CHECK HERE</i></h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3 class="text-center"><i>(then make 2 copies of check attached on this form)</i></h3>

    <table class="table-bordered" width="100%">
      <thead>
        <tr>
          <th>Date Collected</th>
          <th>Payment Type</th>
          <th>Check Number</th>
          <th>Amount</th>
          <th>For</th>
        </tr>
      </thead>
      <tbody>
        {% for td in tableOfDeposits %}
        <tr>
          <td>{{ td.dateCollected }}</td>
          <td>{{ td.paymentType }}</td>
          <td>{{ td.checkNumber }}</td>
          <td>${{ td.amount|number_format(2, '.', ',') }}</td>
          <td>{{ td.for }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="3"><strong>Total Deposits</strong></td>
          <td>${{ totalDeposits|number_format(2, '.', ',') }}</td>
        </tr>
      </tbody>
    </table>

    <div class="page-break">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="text-center">
      <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}">
      <h3>at {{ contract.realPropInf.mchCommunity|preg_replace('~_~', ' ')|title }}, LLC</h3>
    </div>

    <h2 class="text-center">MIAMI-DADE County, Florida</h2>

    <h2 class="text-center">NOTICE TO BUYER PURSUANT TO CH. 2003-49, LAWS OF FLORIDA</h2>

    <p class="text-justify">
      FLORIDA LAW CONTAINS IMPORTANT REQUIREMENTS YOU MUST FOLLOW BEFORE YOU MAY FILE A LAWSUIT
      FOR DEFECTIVE CONSTRUCTION AGAINST A CONTRACTOR, SUBCONTRACTOR, SUPPLIER, OR DESIGN
      PROFESSIONAL FOR AN ALLEGED CONSTRUCTION DEFECT IN YOUR HOME. SIXTY DAYS BEFORE YOU FILE YOUR
      LAWSUIT, YOU MUST DELIVER TO THE CONTRACTOR, SUBCONTRACTOR, SUPPLIERS, OR DESIGN PROFESSIONAL
      A WRITTEN NOTICE OF ANY CONSTRUCTION CONDITIONS YOU ALLEGE ARE DEFECTIVE AND PROVIDE YOUR
      CONTRACTOR AND ANY SUBCONTRACTORS, SUPPLIERS, OR DESIGN PROFESSIONALS THE OPPORTUNITY TO
      INSPECT THE ALLEGED CONSTRUCTION DEFECTS AND MAKE AN OFFER TO REPAIR OR PAY FOR THE ALLEGED
      CONSTRUCTION DEFECTS. YOU ARE NOT OBLIGATED TO ACCEPT ANY OFFER MADE BY THE CONTRACTOR OR
      ANY SUBCONTRACTORS, SUPPLIERS, OR DESIGN PROFESSIONALS. THERE ARE STRICT DEADLINES AND
      PROCEDURES UNDER FLORIDA LAW.
    </p>

    <strong>Receipt of this Notice is acknowledged by:</strong>

    <table class="table">
      <tbody>
        <tr>
          <td>
            <strong>Purchaser:</strong><br>
            ______________________________________
          </td>
          <td>
            <strong>Seller:</strong><br>
            ______________________________________
          </td>
        </tr>
        <tr>
          <td>
            <strong>Date:</strong> ___________________
          </td>
          <td>
            <strong>Date:</strong> ___________________
          </td>
        </tr>
        <tr>
          <td>
            <strong>Purchaser:</strong><br>
            ______________________________________
          </td>
        </tr>
        <tr>
          <td>
            <strong>Date:</strong> ___________________
          </td>
        </tr>
      </tbody>
    </table>

    <div class="page-break">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="text-center">
      <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}">
      <h3>at {{ contract.realPropInf.mchCommunity|preg_replace('~_~', ' ')|title }}, LLC</h3>
    </div>

    <h2 class="text-center">Purchase Agreement</h2>

    <table class="table">
      <tbody>
        <tr>
          <td colspan="4">
            <strong>Seller:</strong> <u>Mountain Cove Homes at {{ contract.realPropInf.mchCommunity|preg_replace('~_~', ' ')|title }}, LLC</u>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <strong>Buyer(s):</strong> <u>{{ contract.buyerInformation.buyers1 }}</u>
          </td>
          <td>
            <strong>Date:</strong> <u>{{ contract.date|format('m/d/Y') }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <strong>Buyer(s):</strong> <u>{{ contract.buyerInformation.buyers2 }}</u>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <strong>Address:</strong> <u>{{ contract.buyerInformation.buyersCurrentAddress }}</u>
          </td>
        </tr>
        <tr>
          <td>
            <strong>(Email)</strong> <u>{{ contract.buyerInformation.email }}</u>
          </td>
          <td>
            <strong>(H Ph.)</strong> <u>{{ contract.buyerInformation.homePhone }}</u>
          </td>
          <td>
            <strong>(Cell Ph.)</strong> <u>{{ contract.buyerInformation.mobilePhone }}</u>
          </td>
          <td>
            <strong>(W Ph.)</strong> <u>{{ contract.buyerInformation.workPhone }}</u>
          </td>
        </tr>
      </tbody>
    </table>

    <ol class="text-justify">
      <li>
        <strong>Real Property:</strong> Seller agrees to sell and Buyer agrees to purchase from Seller, subject to the conditions of this Purchase Agreement, the following
        described real estate, with the improvements erected or to be erected thereon, for the purchase price as hereinafter set forth and payable in the manner as
        hereinafter set forth:
        <blockquote>
          Lot <u>{{ contract.realPropInf.lot }}</u> / Block <u>{{ contract.realPropInf.block }}</u> of, Moody Drive Homes according to the Plat thereof, as recorded in Plat Book <u>{{ contract.realPropInf.platBook }}</u>, Page <u>{{ contract.realPropInf.platBookPage }}</u> of the Public Records of <u>MIAMI-DADE</u> County, Florida;
          <br>
          <br>
          Street Address: <u>{{ contract.realPropInf.streetAddress }}</u>
          <br>
          <br>
          The aforementioned real property together with the improvements thereon or to be erected thereon will be hereinafter referred to as the
          “Premises”.
        </blockquote>
      </li>
      <li>
        <strong>Construction:</strong> (a) Seller has erected or will erect upon the Premises Model <u>{{ contract.realPropInf.model|preg_replace('~_~', ' ')|title }}</u> Elevation <u>{{ contract.realPropInf.elevation }}</u> Orientation <u>{{ contract.realPropInf.garageOr == 'r' ? 'Right' : 'Left' }}</u> type dwelling in accordance with and in substantial compliance with the plans and specifications, and amendments thereto on file at Seller’s office. In the event of the inability of the Seller to obtain any appliances, fixtures, colors, materials, or brand names, the Seller shall have the right to substitute other appliances, fixtures, colors, materials, or brand names of substantially similar quality, utility or color, and Seller reserves the right to make such changes in construction as may be required by material shortages, strikes, stoppages, changes in building code regulations, Seller’s construction lender, or any governmental authority having jurisdiction or authority over the dwelling or the mortgage financing, or other situations as may, in Seller’s judgment, require such changes to be made, provided that the dwelling being purchased by Buyer shall not be substantially diminished in size and that substituted materials shall be equal or better quality as those originally exhibited or specified. Tile, marble, cabinets, mica, paint colors, carpet, vinyl patterns, plumbing fixtures, electrical fixtures and other materials and finishes are subject to shading and graduation and may vary from the samples. Buyer acknowledges and agrees that all exposed wood is subject to variations in color, unevenness, and nonstructural checking and cracks. Dimensions of the dwelling may vary slightly from the floor plans and/or models and Buyer shall not make measurements for draperies, furnishings, etc. until finished walls are completed.
      </li>
      <br>
      <li>
        <strong>Estimated Completion Date:</strong> The <strong>estimated</strong> completion date and closing date for this dwelling shall be <u>{{ contract.purchaseExp.estClosingDate|date("F jS\\, Y") }}</u>.
      </li>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <li>
        <strong>Purchase Price and Deposit:</strong> The purchase price which Buyer shall pay for the Premises shall be $<u>{{ contract.purchaseExp.totalSalesPrice }}</u> payable as follows:

        <br>
        <br>

        <strong><u>Table of Deposits:</u></strong>

        <br>
        <br>

        <table class="table-bordered" width="100%">
          <thead>
            <tr>
              <th>Date Collected</th>
              <th>Amount</th>
              <th>Payment Type</th>
              <th>Check Number</th>
            </tr>
          </thead>
          <tbody>
            {% for td in tableOfDeposits %}
            <tr>
              <td>{{ td.dateCollected }}</td>
              <td>${{ td.amount|number_format(2, '.', ',') }}</td>
              <td>{{ td.paymentType }}</td>
              <td>{{ td.checkNumber }}</td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="4">
                <strong>No Earnest Deposits have been collected for this configuration.</strong>
              </td>
            </tr>
          </tbody>
        </table>

        <br>

        <strong>Mortgage Principal:</strong> Seller agrees that the mortgage referred to in Paragraph 6 herein will not be more than

        <br>

        <p class="text-right">Total: <u>${{ contract.purchaseExp.totalSalesPrice|number_format(2, '.', ',') }}</u></p>

        <p class="text-justify"><strong>NOTICE TO BUYER: THE BUYER OF A SINGLE FAMILY RESIDENTIAL DWELLING UNIT HAS THE RIGHT TO HAVE ALL DEPOSIT FUNDS (UP TO 10% OF THE PURCHASE PRICE) DEPOSITED IN AN ESCROW ACCOUNT. THIS RIGHT MAY BE WAIVED, IN WRITING, BY THE BUYER. BY INITIALING IN THE BLANK PROVIDED HEREIN, BUYER ACKNOWLEDGES WAIVING HIS/HER RIGHT TO HAVE THE DEPOSITED FUNDS HELD IN AN ESCROW ACCOUNT.</strong></p>

        _______&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______

        <br>
        <br>

        <p class="text-justify"><strong>ORAL REPRESENTATIONS CANNOT BE RELIED UPON AS CORRECTLY STATING THE REPRESENTATIONS OF THE SELLER. FOR CORRECT REPRESENTATIONS REFERENCE SHOLD BE MADE TO THIS PURCHASE AGREEMENT.</strong></p>

      </li>
      <li>
        <strong>Default:</strong> Should Buyer fail to make any of the payments being due hereunder, as hereinabove scheduled, or fail or refuse to execute the instruments required to close this transaction, or refuse to pay any costs or other sums required by this Purchase Agreement or
        otherwise defaults hereunder, then Seller may declare this Purchase Agreement terminated and retain and be entitled to all deposits,
        including any deposits not yet made at the time of default and/or other monies paid by Buyer as liquidated and agreed upon damages for
        which Seller shall have sustained and suffered as a result of Buyer’s default, and thereupon the parties hereto will be released from all
        obligations hereunder. The provisions herein contained for liquidated and agreed upon damages are a bona fide provision for such and
        are not a penalty, the parties understanding that by reason of the withdrawal of the Premises from the sale to the general public at a time
        when other parties would be interested in purchasing the Premises, that Seller will have sustained damages if Buyer defaults, which
        damages will be substantial but will not be capable of determination with mathematical precision and, therefore, as aforesaid, this
        provision for liquidated and agreed upon damages has been incorporated in this Purchase Agreement as a provision beneficial to both
        parties. Buyer agrees that if the Buyer defaults in this Purchase Agreement that the Buyer will not file any action against Seller seeking
        the return of any portion of said payments made pursuant to this Purchase Agreement or seeking any reduction in the amount of the
        liquidated and agreed upon damages.
      </li>
      <br>
      <li>
        <strong>Buyer Financing:</strong> (a) If Buyer is to obtain financing from Seller’s recommended lending institution or institutions (See list of
        “Preferred Lenders” in attached Builder’s Referral Incentives and Contributions Addendum), then, Buyer shall complete and deliver to
        such Preferred Lender all of the mortgage application forms, documents and all financial data that may be required by such Preferred
        Lender within ten (10) days from the date of this Purchase Agreement. The said mortgage financing will be a loan in an amount as set
        forth above and shall be for a term, and at an annual rate of interest, and upon such terms as may be customary in the area at the time of
        the closing of the Premises. In the event Buyer fails to complete and deliver said application forms to the lender as hereinabove provided,
        or if the Preferred Lender refuses to accept the mortgage from Buyer because of inaccurate or untrue statements set forth in Buyer’s
        application, then in either event, Seller shall treat this transaction as an “all cash” purchase, notwithstanding any other provisions
        contained herein to the contrary relating to mortgage financing. Buyer agrees to incur no indebtedness subsequent to the date hereof
        which might jeopardize approval of said mortgage loan or take any action that could detrimentally affect approval of said mortgage loan.
        If Buyer obtains financing through one of the Seller’s Preferred Lenders and if such Preferred Lender should include within its approval
        and/or commitment a condition that Buyer sell or rent other real estate owned by Buyer, Buyer shall be fully responsible to comply with
        such condition. If Buyer is unable to sell his home or other real estate or rent the same in accordance with such approval and/or
        commitment, and the Preferred Lender fails to close the loan as a result, this transaction shall be deemed an “all cash” transaction and not
        contingent upon the Buyer obtaining financing. Buyer shall execute and deliver the note, mortgage and such other documents as may be
        required by the Preferred Lender or the Seller. If the Buyer is married and the Buyer’s spouse is not named as a Buyer herein, Buyer shall
        cause such spouse to execute the mortgage and other closing documents as required by the Preferred Lender to create a valid mortgage
        lien. The Buyer may elect to obtain his own financing, in which event; this transaction shall be considered an “all cash” transaction and
        not contingent upon Buyer obtaining financing.
        <br>
        <br>
        (b) If Buyer qualifies with the Preferred Lender for a mortgage of lesser principal amount than described on the first page herein, Buyer
        shall be deemed to have agreed to accept such lesser principal amount (without diminishment in the Purchase Price) unless within five
        (5) days after written notice thereof, Buyer gives Seller notice to the contrary, whereupon Buyer will be required to apply for a mortgage
        loan with another Preferred Lender. If Buyer obtains financing through a Preferred Lender, Buyer agrees to pay all costs for closing said
        mortgage, including the mortgagee’s closing costs. If the Preferred Lender refuses to accept a mortgage from the Buyer, then Buyer will
        be required to apply for a mortgage from another Preferred Lender within five (5) days after notice that the first Preferred Lender refused
        to make the mortgage loan to Buyer. If the second Preferred Lender refuses to make a mortgage to Buyer, then Buyer shall have ten (10)
        days from Buyer receiving notice that the Second Preferred Lender will not make a mortgage loan to Buyer to notify Seller that Buyer
        has cancelled the Purchase Agreement and failure to notify Seller within said time period shall constitute an election by Buyer to proceed
        and the transaction will be considered an all cash transaction without a financing contingency notwithstanding any language to the
        contrary concerning mortgage financing. If Buyer cancels this Purchase Agreement in accordance with the preceding sentence, then the
        deposit shall be returned to Buyer (less any costs of any Upgrades or Options ordered by Buyer and a $250.00 nonrefundable deposit)
        in which event this Purchase Agreement shall be terminated and neither party shall owe the other any further duty or obligation
        hereunder.

        <br>
        <br>
        _______&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______

        <br>
        <br>
        (c) If Buyer elects to obtain his own financing, Seller shall treat this transaction as an “all cash” purchase, notwithstanding any other
        provisions contained herein to the contrary relating to mortgage financing. Buyer agrees to incur no indebtedness subsequent to the date
        hereof which might jeopardize approval of said mortgage loan. Buyer shall execute and deliver the note, mortgage and such other
        documents as may be required by the lender or the Seller. If the Buyer is married and the Buyer’s spouse is not named as a Buyer herein,
        Buyer shall cause such spouse to execute the mortgage and other closing documents as required by the lender to create a valid mortgage
        lien. Additionally, if Buyer obtains financing through a lender other than one recommended by Seller, then Buyer shall be responsible to
        Seller at the time of closing for all costs incurred by Seller in the event the lender chosen by Buyer delays the closing or funding of the
        loan proceeds. Such costs shall include, but not be limited to interest, taxes, upkeep and maintenance incurred by Seller on the Premises
        past the scheduled closing date.

        <br>
        <br>
        _______&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______

        <br>
        <br>

        (d) The purchase shall be deemed to be for “all cash” and not be contingent upon Buyer qualifying for a mortgage: (i) if the blank space
        in Paragraph 4 herein is marked “none” or left blank, and Buyer shall provide verification of such funds to Seller within seven (7) days of
        the Purchase Agreement; or (ii) if Buyer elects to obtain his own mortgage with a lender other than a Preferred Lender, and Buyer shall
        notify the Seller in writing of such election within five (5) days of Purchase Agreement date, and within (30) days of Purchase
        Agreement date shall deliver to Seller a written commitment for said mortgage financing.

        <br>
        <br>
        _______&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______

        <br>
        <br>
        (e) <strong>If Buyer is purchasing the Premises for investment purposes or any other purpose other than to be occupied and owned as
        Buyer primary residence, then in such event this transaction shall be deemed an “all cash” transaction and not contingent upon
        Buyer obtaining financing.</strong>
      </li>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <li>
        <strong>Upgrades and/or Options and Inspection of Premises: Buyer</strong> shall make all selections and/or purchase of Upgrades or Options
        which may be offered by Seller within ten (10) days from date of this Purchase Agreement. If Buyer fails to make selections and/or fails
        to make all payments required by Seller for Upgrades or Options within the ten (10) day period, Seller may make selections on Buyer’s
        behalf, which selections shall be binding upon Buyer, and Seller may thereafter refuse any selections from Buyer and disallow any
        purchase of Upgrades or Options. Seller may at its discretion, limit the dollar amount of Upgrades and Options ordered by Buyer. Buyer
        hereby acknowledges that due to the amount of Upgrades and Options ordered by the Buyer the appraised value may be less than the
        Purchase Price. In the event that said appraisal is less than the Purchase Price the Buyer agrees to pay any amount difference between the
        mortgage amount and Purchase Price in cash at closing. If any Upgrade or Option paid for by Buyer becomes unavailable during
        construction, Seller shall have the right to substitute such Upgrade or Option with one of substantially similar quality or if none is
        available, Seller shall refund Buyer’s money paid for such items at or prior to closing. Seller may limit exterior elevations and color
        choices pursuant to community standards. Prior to closing Buyer shall be given an opportunity to inspect the Premises with Seller’s
        representative and at the time complete an inspection report setting forth any defects in workmanship or materials which shall be signed
        by Buyer. As to any items therein described which are truly defects in workmanship and materials (keeping in mind the construction
        standards prevalent in the County wherein Premises are located for similar property), Seller shall be obligated to correct the same within
        a reasonable period of time following the closing, but Seller’s obligation to correct the same shall not be grounds for deferring the
        closing of the title nor the imposition of any condition upon closing. All defects and post closing warranty claims shall be handled in
        accordance with the terms and conditions of the homeowner’s warranty. Buyer agrees that prior to closing the Buyer may inspect the
        Premises only with the prior approval of Seller and further agrees that any matters pertaining to construction will be handled through the
        Seller’s main office, and that Buyer will not in any way interfere with the job site workmen, foreman or superintendent.
      </li>

      <br>

      <li>
        <strong>Construction Completion:</strong> Seller agrees to use its best efforts to complete the construction of the dwelling unit by the estimated
        completion date subject to delays caused by Acts of God, acts of governmental authorities, floods, hurricanes, strikes, labor conditions
        beyond Seller’s control, unavailability of manpower or materials, or any other causes not within Seller’s control. Seller agrees that the
        dwelling will be completed on or before a date which is two (2) years from the effective date of this Purchase Agreement.
      </li>

      <br>

      <li>
        <strong>Premises:</strong> All Buyers, occupants and users of the Premises are hereby placed on notice that Seller, any related party of Seller, and/or
        its agents, contractors, subcontractors, licensees and or other designees, successors or assignees will be, from time to time, conducting
        excavation, construction and other activities within or in the proximity to the Premises. By the acceptance of a deed to, or other
        conveyance or mortgage, leasehold, license or other interest and by using any portion of the Premises, each such grantee, occupant and
        user automatically acknowledges, stipulates and agrees (i) that none of the aforesaid activities shall deemed nuisances or noxious or
        offensive activities, under any applicable covenants or at law generally; (ii) not to enter upon or allow their children or other persons
        under their control or direction to enter upon (regardless of whether such entity is a trespass or otherwise) any Premises or in proximity
        to the Premises where such activities are being conducted (even if not being actively conducted at time of entry, such as at night or
        otherwise during non-working hours); (iii) Seller, any related party of Seller and all of it agents, contractors, subcontractors, licensees
        and other designees, successors and assignees, shall not be liable, but rather, shall be held harmless for any and all losses, damages
        (compensatory, consequential, punitive or otherwise), injuries or deaths arising from or relating to the aforesaid activities; (iv) any
        purchase or use of any portion of the Premises has been and will be made with full knowledge of the foregoing; and (v) this
        acknowledgment and agreement is a material inducement to Seller to sell, convey, lease and/or allow the use of the Premises.
      </li>

      <br>

      <li>
        <strong>Title:</strong> (a) Prior to closing, Seller will cause a title insurance company selected by Seller, which may be affiliated with Seller, to issue
        a commitment to Buyer, at Seller’s expense, to insure title to the Premises subject to the following “Permitted Exceptions”: (i) real estate
        taxes and assessments for the year in which the transaction is closed; (ii) the mortgage, if any, assumed or executed by Buyer; (iii)
        restrictions, conditions, reservations, limitations and easements of record; (iv) zoning and building laws of the appropriate municipality;
        (v) covenants and easements created or to be created in favor of the municipalities, public and private utilities, and the Seller or
        homeowners associations for the installation and maintenance of utilities, lines, mains, pipes, poles, wires, tunnels, basins, canals, etc.
        with right of access to service the same; (vi) conveyances of Minerals; (vii) any documents related to the creation of the Community
        Development District, if any; and (viii) the usual exceptions contained in an owner’s policy of title insurance by title insurance
        companies in the County wherein the Premises are located. Buyer may, at or prior to closing, object to any matters that result in the title
        to the Premises being not “Marketable Title” by giving written notice of such objections. “Marketable Title” shall mean title which (i) a
        title insurance company licensed to do business in Florida will insure at its regular rates, subject only to standard exceptions, or (ii) is
        acceptable to the lender. If Seller is unable to satisfy Buyer’s valid title objections within thirty (30) days of Buyer’s notice of such
        objections, Buyer’s sole and exclusive rights shall be to elect to either (i) immediately terminate this Purchase Agreement and receive a
        full refund of the deposit, or (ii) immediately proceed to closing with no adjustment in the Purchase Price. Subsequent to closing, unless
        Buyer has elected in writing to waive title insurance, Seller will deliver to Buyer an owner’s policy of title insurance insuring title to the
        Premises to Buyer in an amount equal to the Purchase Price and otherwise conforming to said commitment or a mortgagee policy of title
        insurance, in an amount required by the mortgage lender. Buyer agrees that the purchase and occupancy of the Premises, and the
        obligations of Buyer, will, at all times, be subject to the provisions of the COMMUNITY DOCUMENTS, copies of which have been
        delivered to Buyer. The Seller reserves the right to amend any of the COMMUNITY ASSOCIATION documents. Buyer understands
        that the dwelling may be encumbered by a construction loan mortgage and agrees that the same shall not be an objection to title, it being
        understood that the dwelling will be released from the lien of said construction loan mortgage out of the proceeds of the closing. <u>Seller
        shall not provide Buyer with an abstract of title.</u>

        <br>
        <br>

        If Buyer or Buyer’s lender requires an abstract of title, said abstract will be at Buyer’s expense. In the event the preparation and delivery
        of an abstract causes a delay in the closing date or, if Seller extends the closing date as an accommodation to Buyer, Buyer will be
        charged cost for the delay on a per diem basis, which cost shall include, but shall not be limited to interest, insurance, taxes and
        maintenance. The issuance of a tile policy subject only to those matters as specified herein shall be conclusive and binding upon the
        parties that title is insurable as set forth herein.

        <br>
        <br>

        (b) In the event Buyer elects to use a title insurance agent other than the agent selected by Seller and arranges for title insurance in place
        of the title insurance to be provided by Seller, (i) Buyer must notify Seller of such election, in writing, within twenty (20) days of the date
        Buyer executes this Purchase Agreement (but in any event not later than ten (10) days prior to closing if the closing is within the twenty
        (20) day period, failing which Buyer shall be deemed to have waived the right to select another title insurance agent; and (ii) Buyer and
        Seller must execute Seller’s addendum with respect to the use of another title agent.
      </li>

      <br>

      <li>
        <strong>PROPERTY TAX DISCLOSURE SUMMARY BUYER SHOULD NOT RELY ON THE SELLER’S CURRENT PROPERTY TAXES AS THE AMOUNT OF PROPERTY TAXES THAT THE BUYER MAY BE OBLIGATED TO PAY IN THE YEAR SUBSEQUENT TO PURCHASE. A CHANGE OF OWNERSHIP OR PROPERTY IMPROVEMENTS TRIGGERS REASSESSMENTS OF THE PROPERTY THAT COULD RESULT IN HIGHER PROPERTY TAXES. IF YOU HAVE ANY QUESTIONS CONCERNING VALUATION, CONTACT THE COUNTY PROPERTY APPRAISER’S OFFICE FOR INFORMATION.</strong>

        <br>
        <br>

        _______&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______

        <br>
        <br>
      </li>

      <br>

      <li>
        <strong>Closing:</strong> Seller recommends that the closing be conducted by the title insurance company referred to in paragraph 9(a). However,
        Buyer may select a closing agent other than that recommended by Seller, but which must be reasonably acceptable to Seller. In the event
        Buyer elects to use a closing agent other than the closing agent recommended by the Seller, Buyer must notify Seller of its selected
        closing agent, in writing, within twenty (20) days of the date Buyer executes this Purchase Agreement (but in any event not later than ten
        (10) days prior to closing if the closing is within the twenty (20) day period), failing which Buyer shall be deemed to have waived the
        right to select another closing agent. The specific time for closing shall be designated by Seller in a written notice by Seller to Buyer in
        the manner hereinafter provided for the giving of notice, at least seven (7) days prior to the closing date. It is mutually agreed that the
        closing of this Purchase Agreement shall not occur before the date the dwelling is completed. If this Purchase Agreement is signed after
        the date the dwelling is completed, the provisions of this Paragraph 11 concerning the date the dwelling is completed as it affects closing
        shall not apply to this Purchase Agreement. The issuance of a Certificate of Occupancy by the County wherein the Premises are located
        shall be binding and conclusive upon the parties as to whether the dwelling has been completed. The fact that certain surrounding areas
        may not be completed, or that the dwelling may require minor repairs, touch-ups or adjustments, or the Lot has not been sodded, shall not
        constitute a valid reason for Buyer’s failure to close. The closing shall take place on the closing date at the place and at the time specified
        in the written notice herein provided for. All of the persons named as Buyers herein, and their spouses, if any must attend the closing.
        Notwithstanding any provision herein to the contrary, if, on the closing date, Buyer without default on the part of Seller, fails to pay such
        sums as are required to be made on the closing date or to execute the instruments required of the Buyer, then the payment made under
        this Purchase Agreement to Seller shall be retained by Seller as liquidated and agreed upon damages, as provided for in Paragraph 4
        hereof. If the failure to close is occasioned by the failure of the Seller to comply with or tender compliance with its portion of this
        Purchase Agreement on the closing date then Buyer may elect to rescind this transaction, in which event the payments made under this
        Purchase Agreement shall be returned by Seller to Buyer, this Purchase Agreement shall be ended and neither party shall owe the other
        any further duty or obligation hereunder, or Buyer may institute proceedings against Seller for specific performance, or any other
        remedy provided by law, and in the event specific performance proceedings are filed, all deposits heretofore made by Buyer shall remain
        with the Seller pending the final determination of the proceedings. Extensions of the closing beyond the closing date may be allowed by
        Seller, provided Buyer pays an extension fee equal to 1% of the Purchase Price plus a daily charge in the amount of $50.00.
      </li>

      <br>

      <li>
        <strong>Additional Costs and Documents:</strong> (a) At the time of closing, the Buyer agrees to pay, in addition to the Purchase Agreement price
        for the Premises, the following: (i) all mortgage closing costs as applicable pursuant to Paragraph 5 hereof~ (ii) all title and lien search
        expenses (iii) all expenses related to community Homeowners’ Associations, community development districts, and county
        improvement districts which are more specifically outlined in the <strong>COMMUNITY ADDENDUM</strong> which is attached hereto and made
        apart hereof, plus a proration of the monthly assessment of; (iv) the amount of any Upgrades or Options ordered by Buyer subsequent to
        the date of execution of this Purchase Agreement and not otherwise paid for; (v) Buyer’s share of the real estate taxes including any
        Special Taxing Districts if applicable and Municipal Services Fees and/or Public Service Fees, if any, for the year in which the
        transaction is closed, prorated as of the date of closing; (vi) the costs of recording the Warranty Deed and the cost of documentary stamps
        to be affixed thereto, (vii) the cost of the final property survey in the approximate amount of $350; (viii) costs of an owner’s title
        insurance commitment and policy if the Buyer elects to use a title insurance agent other than the agent selected by Seller; (ix) document
        preparation fee; (x) costs of a credit report; (xi) closing attorney’s fees; (xii) photos; (xiii) costs of an appraisal; (xiv) premium for the
        mortgage title insurance policy and endorsements thereto (if applicable); (xv) underwriting fee and (xvi) the balance of the Purchase
        Price in cash or by a cashier’s check drawn on a Florida Banking institution.

        <br>
        <br>

        (b) At the closing Buyer will execute and deliver to Seller all documents necessary to give effect to this Purchase Agreement, the
        closing of title to this sale, and the closing the mortgage loan, if any, and the creation of the Homeowners Association and other
        documents acknowledging the closing in compliance with this Purchase Agreement. Seller agrees that at the closing it will deliver a
        warranty deed to the Premises; a mechanics’ lien affidavit; and will deliver possession of the Premises. In addition, Seller does hereby
        assign unto the Buyer the benefit of all warranties that the Seller may have as they extend to the Premises being purchased and all
        warranties of personal property from manufacturers contained therein which are conveyed with the Premises. Seller and Buyer agree to
        execute and deliver at closing such instruments as may be necessary to carry out the terms of this Purchase Agreement.
      </li>

      <br>

      <li>
        Entire Agreement, Recording: It is understood and agreed between the parties that (a) this Purchase Agreement may not be
        assigned, set over or transferred without prior written consent of the Seller, and such consent shall be given in the sole and absolute
        discretion of the Seller; (b) all notices and demands and original writings required to be given pursuant to the terms of this Purchase
        Agreement shall be in writing, and shall be deemed given when deposited in the United States Mail, Certified Mail, Return Receipt
        Requested, by hand-delivery, by acknowledged telegram, or sent by E-mail to be received by an information processing system that
        Buyer uses and is able to retrieve as an electronic record pursuant to the Uniform Electronic Transaction Act, Florida Statute 668.50. All
        notices to the Buyer shall be sent to his mailing address or his E-mail address as set forth on the first page herein unless the Buyer
        notified Seller in writing of a change of either address, Buyer acknowledges and agrees that the Purchase Agreement may not be denied
        legal effect or enforceability should the Purchase Agreement be delivered and received via E-mail as an electronic record; (c) this
        Purchase Agreement may not be recorded, and any attempt at recordation will be a nullity and will constitute the Buyer in default under
        this Purchase Agreement; (d) this Purchase Agreement, exhibits and addenda made a part hereof constitute the full, final and complete
        agreement between the parties, and no representations, claims, statements, advertising, promotional activities, brochures, maps or
        otherwise made by Seller or Seller’s agents or representatives, shall in any wise be binding upon Seller unless the same are expressly set
        forth in a written agreement executed by Seller; (e) all rights of the Buyer under this Purchase Agreement relating to the Premises shall
        come into existence at the time of the payment of all monies required hereunder in full by Buyer to the Seller, and the execution and
        delivery by the parties hereof of all instruments and documents required hereunder, excepting that nothing contained herein shall be
        construed as relieving the Seller of its obligations under this Purchase Agreement; (1) Buyer may not have access to or entry to the
        Premises, nor may Buyer store any of his possessions in or about the Premises prior to the closing of the transaction; (g) if two or more
        persons are named as Buyer herein, any one of them is authorized to act as agent for, with the right to bind, the other(s) in all matters and of every kind or nature with respect to this Purchase Agreement; (h) the Seller reserves an easement for ingress and egress
        for itself, its employees, agents, subcontractors, designees, and assigns, over and upon the front, side and rear portions of the Premises as
        may be required by Seller in the construction, servicing and completion of the Premises or any adjoining Premises or adjacent
        improvements, These easements shall continue until sixty (60) days after the completion of the Premises or adjoining Premises or
        adjacent improvements, whichever occurs last and shall survive the closing; (i) time is of the essence, and failure to close on the
        scheduled closing date shall be considered a default in this Purchase Agreement. This clause is to be strictly construed as it is the
        intention of both parties that the closing, is to be accomplished on the scheduled closing date and further; all of the time periods herein
        shall be strictly adhered to; (j) in the event any one or more of the provisions contained in this Purchase Agreement shall, for any reason,
        be held to be inapplicable, invalid, illegal, or unenforceable in any respect, such inapplicability, invalidity, illegality, or unenforceability
        shall not affect any other provision of this Purchase Agreement, but this Purchase Agreement shall be construed as if such inapplicable,
        invalid, illegal, or unenforceable provision had never been contained herein; (k) wherever the context so requires, the use of any gender
        shall include all genders, and the use of the singular shall include the plural; and (I) Buyer represents and warrants unto Seller that Buyer
        has investigated to Buyer’s complete satisfaction, all Federal, State, City, and local, statutes, ordinances, and regulations applicable to
        the Property, the Subdivision, and surrounding properties, if any, regardless of whether such properties are vacant, undeveloped,
        developed, improved, or privately owned.

        <br>
        <br>

        _______&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______
      </li>

      <br>

      <li>
        <strong>Hook-up Fee:</strong> Buyer acknowledges and agrees that in connection with the purchase of the Home, Buyer shall pay to Seller a
        Hook-up Fee of One and One-half Percent (1.50%) of the Total Purchase Price (the “Hook-up Fee”). The Builder’s Fee is separate from
        any and all closing fees or closing costs imposed by a Lender selected by Buyer or otherwise incurred in connection with the purchase of
        the Home. Buyer shall pay all loan and closing costs as hereinabove provided.
      </li>

      <br>

      <li>
        <strong>Sales Office:</strong> As long as Seller, or nominees of Seller, owns any properties in the project, Seller and/or its said nominees shall have
        the right and privilege to maintain general sales offices in and about the project, including model residences, and to have their employees
        present on the Premises to show properties, use the common areas and without limitation, to do any and all other things necessary or
        appropriate for them to sell or lease properties, all without charge or contribution.
      </li>

      <br>

      <li>
        <strong>Insulation Specifications:</strong> Federal law requires the Seller to advise the Buyers as to the type, thickness and R-Value of the
        insulation that will be installed within the dwelling. The information is provided on the Addendum attached hereto and made a part
        hereof.
      </li>

      <br>

      <li>
        <strong>Homeowners’ Warranty:</strong> The premium for the Residential Warranty Corp. Dwelling Warranty (copy of which will be furnished)
        will be paid by Seller. In addition, Seller does hereby warrant the construction of the dwelling in accordance with the Builder’s
        Warranty, a copy of which will be furnished and made a part hereof TO THE MAXIMUM EXTENT PERMITTED BY LAW, SELLER
        DOES HEREBY DISCLAIM ANY AND ALL IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE,
        MERCHANTABILITY AND HABITABILITY, ALL WARRANTIES IMPOSED BY STATUTE AND ALL OTHER IMPLIED OR
        EXPRESSED WARRANTIES OF ANY KIND AND CHARACTER, WITH THE REGARDS TO THE PREMISES AND
        DWELLING ITSELF, THE PERSONAL PROPERTY CONTAINED THEREIN AND THE FIXTURES CONTAINED THEREIN.
        SELLER HAS NOT GIVEN AND BUYER HAS NOT RELIED ON OR BARGAINED FOR ANY SUCH WARRANTY. THE
        WARRANTY PROVIDED IN THIS PARAGRAPH IS A LIMITED WARRANTY PURSUANT TO FEDERAL LAW. If Buyer
        obtains financing from FHA or VA loans, then Buyer is not required to submit disputes that arise under the Residential Warranty Corp.
        Dwelling Warranty to binding arbitration.
      </li>

      <br>
      <br>
      <br>

      <li>
        <strong>Radon Gas:</strong> Radon is a naturally occurring radioactive gas that, when it has accumulated in the building in sufficient quantities,
        may present health risks to persons who are exposed to it all the time. Levels of radon that exceed federal and state guidelines have been
        found in buildings in Florida. Additional information regarding radon and radon testing may be obtained from your county public health
        unit.
      </li>

      <br>

      <li>
        <strong>Lakes and/or Wetlands:</strong> Buyer acknowledges that the local permitting authority for surface water permits is not related to Seller.
        Therefore, Buyer understands and acknowledges that any lakes or wetlands, if applicable, are designed as water management areas and
        are not designed as aesthetic features. Due to the fluctuations in ground water elevations within the immediate area, the water level of
        lakes will rise and fall and may be extremely shallow during some months of the year. Buyer further understands and acknowledges that
        Seller has no control over such elevations. Therefore, Buyer agrees to hold harmless Seller and every related party of Seller from and
        against all losses, claims, demands, damages, costs and expenses of whatever nature or kind, including attorneys’ fees and costs and
        appellate fees and costs, related to or arising out of any claim by Buyer against Seller as a result of the water elevations, including
        without limitation, the absence of water in the lakes.
      </li>

      <br>

      <li>
        <strong>Neighboring Real Estate:</strong> Buyer acknowledges, and expressly agrees, that neither Seller nor any person acting by or on behalf of
        the Seller has made representation or statement regarding ownership, condition, zoning, restrictions, proposed use, or any possible use
        that may ever be applied to or imposed upon any and all vacant, developed, or undeveloped lots or real estate, grounds or properties, if
        any that are contiguous to or in the vicinity of the Premises or the subdivision of which the Premises is part.
      </li>

      <br>

      <li>
        <strong>Brokers Compensation:</strong> A Broker {{ contract.brokerInformation.realtorInSale == 'y' ? '<i class="fa fa-check"></i>' : '____' }} is or {{ contract.brokerInformation.realtorInSale == 'n' ? '<i class="fa fa-check"></i>' : '____' }} is not participating in the sale. The Broker is located at Street address: {{ contract.brokerInformation.address ? contract.brokerInformation.address : '________________________' }}. Broker’s compensation is subject
        to terms outlined in attached Realtor-Client Registration Form.

        <br>
        <br>

        Seller typically pays a commission (‘Broker Commission”) upon home closing to licensed brokers who introduce buyers to Seller’s
        communities. Such a commission may be paid in connection with your home purchase. In addition, Seller from time to time offers
        incentives programs (“Incentive Programs”) to brokers, such as additional commissions for sales within a certain time period or for
        multiple sales within a certain time period. Incentive Programs may he offered to your broker before or after the date that you sign your
        contract. If you want more information regarding Broker Commissions or Incentive Programs applicable to your home purchase, please
        notify Seller in writing. Unless you are notified otherwise, total Broker Commissions paid in connection with your home sale shall not
        exceed ______ percent (_____ %) of your home sales price.

        <br>
        <br>

        _______&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_______

        <br>
        <br>
      </li>

    </ol>

    <p class="text-justify">
      <strong>
        NOTICE TO BUYER: BY VIRTUE OF ACCEPTING TITLE TO THE PROPERTY WHICH IS THE SUBJECT OF THIS
        PURCHASE AGREEMENT, YOU, AS BUYER, SHALL BECOME MEMBERS OF THE HOMEOWNERS ASSOCIATION
        AND MAY BE RESPONSIBLE FOR PAYING ASSESSMENTS TO THE ASSOCIATION OR ANY COMMUNITY
        DEVELOPMENT DISTRICT HAVING JURISDICTION OVER THE PROJECT. A DISCLOSURE SUMMARY IS
        REQUIRED TO BE PROVIDED TO YOU PURSUANT TO SECTION 720.401 OF THE FLORIDA STATUTES. YOU
        SHOULD NOT EXECUTE THE PURCHASE AGREEMENT OR AGREEMENT UNTIL YOU HAVE RECEIVED AND
        READ THE AFORESAID DISCLOSURE SUMMARY.
        <br>
        <br>
        IF THE DISCLOSURE SUMMARY REQUIRED BY SECTION 720.401, FLORIDA STATUTES, HAS NOT BEEN
        PROVIDED TO THE PROSPECTIVE BUYER BEFORE EXECUTING THIS PURCHASE AGREEMENT FOR SALE,
        THIS PURCHASE AGREEMENT IS VOIDABLE BY BUYER BY DELIVERING TO SELLER OR SELLER’S AGENT OR
        REPRESENTATIVE WRITTEN NOTICE OF THE BUYER’S INTENTION TO CANCEL WITHIN 3 DAYS AFTER
        RECEIPT OF THE DISCLOSURE SUMMARY OR PRIOR TO CLOSING, WHICHEVER OCCURS FIRST. ANY
        PURPORTED WAIVER OF THIS VOIDABILITY RIGHT HAS NO EFFECT. BUYER’S RIGHT TO VOID THIS
        PURCHASE AGREEMENT SHALL TERMINATE AT CLOSING.
      </strong>
    </p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <p>IN WITNESS WHEREOF, the parties hereto have caused these presents to be executed, the day and year above written.</p>

    <table class="table">
      <tbody>
        <tr>
          <td>
            <strong>Purcharser:</strong>
            <br>
            ______________________________________
          </td>
          <td>
            <strong>Seller:</strong>
            <br>
            ______________________________________
          </td>
        </tr>
        <tr>
          <td>
            <strong>Date:</strong> ____________________
          </td>
          <td>
            <strong>Date:</strong> <u>{{ contract.date|format('m/d/Y') }}</u><br>
            THIS PURCHASE AGREEMENT IS NOT BINDING ON<br>
            THE SELLER UNLESS APPROVED BY A CORPORATE<br>
            OFFICER.
          </td>
        </tr>
        <tr>
          <td>
            <strong>Purcharser:</strong>
            <br>
            ______________________________________
          </td>
          <td>
            <br>
            <strong>This Purchase Agreement approved</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Date:</strong> ____________________
          </td>
          <td>
            __________________________<br>
            By
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            __________________________<br>
            Corporate Officer
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            __________________________<br>
            Date
          </td>
        </tr>
      </tbody>
    </table>

    <strong>TOTAL SALES PRICE</strong> <u>${{ contract.purchaseExp.totalSalesPrice|number_format(2, '.', ',') }}</u>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="text-center">
      <img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}">
      <h3>at {{ contract.realPropInf.mchCommunity|preg_replace('~_~', ' ')|title }}, LLC</h3>
    </div>

    <h3 class="text-center">Occupancy/Investment Disclosure Addendum</h3>

  </div>
</body>
</html>

