<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-15-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-15-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-15-central_tittle" class="central-page"><h2>Certification of Insulation Installation Addendum</h2></div>

    <div id="page-15-top_div" style="margin-top: 40px" >
        <div class="page-15-top_subdiv"> <p>Lot/Block: {{ contract.realPropInf.lot }}/{{ contract.realPropInf.block }}</p> </div>
        <div class="page-15-top_subdiv"> <p>Address: ______________________________________</p> </div>
    </div>

    <div id="page-14-top_div_2" style="margin-top: 40px" >
        <h2 style="text-align: center"><b><u>CERTIFICATION OF INSULATION INSTALLATION</u></b></h2>
        <p style="text-align: justify">
            We, the undersigned, hereby certify that we will install the thermal insulation described below in the above captioned house, in
            compliance with the South Florida Building Code, Chapter 52, and the approved plans and specifications, and in accordance with good
            construction practices.
        </p>
    </div>

    <div id="page-15-central_div">

        <div id="page-15-central_subdiv1" class>
            <h3>MASONRY WALL INSULATION:</h3>
            <div class="page-15-central-subdiv_left">
                <p>Manufacturer:</p>
                <p>Type:</p>
                <p>Thickness:</p>
                <p>Manufacturer's R Value</p>
            </div>

            <div class="page-15-central-subdiv_right">
                <p>Fi Foil</p>
                <p>Fi Foil</p>
                <p>1/8 Inch</p>
                <p>R-4.1</p>
            </div>
        </div>

        <div id="page-15-central_subdiv2" class>
            <h3>CEILING INSULATION (excluding garage):</h3>
            <div class="page-15-central-subdiv_left">
                <p>Manufacturer:</p>
                <p>Type:</p>
                <p>Thickness:</p>
                <p>Manufacturer's R Value</p>
            </div>

            <div class="page-15-central-subdiv_right">
                <p>Owens Corning or Certainteed</p>
                <p>Fiberglass Batt or Fiberglass Blown</p>
                <p>Fiberglass Batt - 6.5; Fiberglass Blown - 6</p>
                <p>19</p>
            </div>
        </div>

        <div id="page-15-central_subdiv3" class>
            <h3>GARAGE CEILING INSULATION: (Only with living area above)</h3>
            <div class="page-15-central-subdiv_left">
                <p>Manufacturer:</p>
                <p>Type:</p>
                <p>Thickness:</p>
                <p>Manufacturer's R Value</p>
            </div>

            <div class="page-15-central-subdiv_right">
                <p>Owens Corning or Centainteed</p>
                <p>Fiberglass Batt</p>
                <p>3.5 inches Batts</p>
                <p>11</p>
            </div>
        </div>

        <div id="page-15-central_subdiv4" class>
            <h3>STUD WALL INSULATION (between garage and living area where applicable):</h3>
            <div class="page-15-central-subdiv_left">
                <p>Manufacturer:</p>
                <p>Type:</p>
                <p>Thickness:</p>
                <p>Manufacturer's R Value</p>
            </div>

            <div class="page-15-central-subdiv_right">
                <p>Owens Corning or Centainteed</p>
                <p>Fiberglass Batt</p>
                <p>3.5 inches Batt</p>
                <p>11</p>
            </div>
        </div>

        <p style="text-align: center"><i><b>Builder reserves the right to substitute brand names/and type with equal R- Value.</b></i></p>

    </div>

    <div id="page-15-bottom_div">
        <div id="page-15-bottom_div_2"> <p><b>Purchaser: </b></p> </div>
        <div id="page-15-bottom_div_3"> <p><b>Seller:</b></p> </div>
        <div style="margin-top: -10px">
            <div id="page-15-bottom_div_4"> <p>___________________________________________</p> </div>
            <div id="page-15-bottom_div_5"> <p>___________________________________________</p> </div>
        </div>

        <div>
            <div id="page-15-bottom_div_7"> <p><b>Date:</b> _____________________________________</p> </div>
            <div id="page-15-bottom_div_8"> <p><b>Date:</b> _____________________________________</p> </div>
        </div>

        <div id="page-15-bottom_div_9"> <p><b>Purchaser: </b></p> </div>
        <div id="page-15-bottom_div_10"> <p>___________________________________________</p> </div>
        <div id="page-15-bottom_div_11" style="margin-top: 40px"> <p><b>Date:</b> _____________________________________</p> </div>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>