<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-3-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-3-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-3-central_tittle" class="central-page"><h2>Deposit Form/Check Receipt</h2></div>
    <div id="page-3-top_div">
        <p>Date: {{ contract.date|format('m/d/Y') }}</p>
        <p style="display: inline-block">Buyer's Name: {{ contract.buyerInformation.buyers1 }}</p>
        <p style="display: inline-block; margin-left: 120px;">AB#: {{ contract.explanationDep.abaNumber }}</p>
        <p>Buyer's Name: {{ contract.buyerInformation.buyers2 }}</p>
        <p>Job#: {{ contract.explanationDep.jobNumber }}</p>
        <p style="display: inline-block">Subdivision#: {{ contract.realPropInf.subdivision }}</p>
        <p style="display: inline-block; margin-left: 120px;">Lot/Block: {{ contract.realPropInf.lot }}/{{ contract.realPropInf.block }}</p>
        <p style="display: inline-block; margin-left: 40px;">Model: {{ contract.realPropInf.model }}</p>
        <p>Sales Person: ____________________________</p>
    </div>

    <div id="page-3-central_div">
        <div> <img src="img/checkbox.png" class="checklist"/> <p class="checklist-text"><b>Initial Deposit</b></p> </div>
        <div> <img src="img/checkbox.png" class="checklist"/> <p class="checklist-text"><b>Additional Deposit</b></p> </div>
        <div> <img src="img/checkbox.png" class="checklist"/> <p class="checklist-text"><b>Design Deposit</b></p> </div>
    </div>

    <div id="page-3-central_div_2">
        <p><b>Verify all deposits are payable to proper account:</b></p>
    </div>

    <div id="page-3-bottom_div">
        <div> <img src="img/checkbox.png" class="checklist"/> <p class="checklist-text"><b>Mountain Cove Homes at South Dade, LLC</b></p> </div>
        <div> <img src="img/checkbox.png" class="checklist"/> <p class="checklist-text"><b>Law Offices of Alexis Gonzalez, PA Trust Account</b></p> </div>
        <div> <img src="img/checkbox.png" class="checklist"/> <p class="checklist-text"><b>Other:_______________________________________________________________</b></p> </div>
    </div>

    <div id="page-3-bottom_div_2">
        <div class="page-3-bottom_div_2"> <p>Purchase Price: $ _________________________________</p> </div>
        <div class="page-3-bottom_div_2" style="margin-left: 40px"> <p>Deposit Amount: $ _________________________________</p> </div>

    </div>

    <div id="page-3-bottom_div_3">
        <div class="page-3-bottom_div_3"> <p><b><i>ATTACH CHECK HERE</i></b></p> </div>
        <div class="page-3-bottom_div_3"> <p><b>(then make 2 copies of check attached on this form)</b></p> </div>
    </div>

    <div id="page-3-bottom_div_4">
        <table id="page-3-table" cellpadding="0" cellspacing="0">
            <tr>
                <th>Date Collected</th>
                <th>Payment Type</th>
                <th>Check Number</th>
                <th>Amount</th>
                <th>For</th>
                <th>Check Made Out To</th>
            </tr>

            {% for dp in tableOfDeposits %}
            <tr>
                <td>{{ dp.dateCollected|format('m/d/Y') }}</td>
                <td>{{ dp.paymentType }}</td>
                <td>{{ dp.checkNumber }}</td>
                <td>{{ dp.amount }}</td>
                <td>{{ dp.for }}</td>
                <td>{{ dp.checkMadeOutTo }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="3">Total Deposits</th>
                <td>{{ tableOfDeposits|length }}</td>
            </tr>

        </table>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>