<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-2-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-2-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-2-central_tittle" class="central-page"><h2>Memo (for internal use only)</h2></div>

    <div id="page-2-top_div">
        <p>To: _____________________________________</p>
        <p>From: {{ contract.realPropInf.salesRep }} (Sales Representative)</p>
        <p>Date: {{ contract.date|format('m/d/Y') }}</p>
        <p>Subject: {{ contract.realPropInf.lot }}/{{ contract.realPropInf.block }} (Lot/Block)</p>
        <p>Purchaser: _____________________________</p>
        <p>Purchaser: _____________________________</p>

    </div>

    <div id="page-2-central_div">
        <p> This attached Purchase Agreement reflects the following changes which were approved by you on _____________________</p>
    </div>

    <div id="page-2-bottom_div">
        <p>BASE PRICE: {{ contract.purchaseExp.basePrice }}</p>
        <p>Lot Premium: {{ contract.purchaseExp.lotPremium }} </p>
        <p>Options: {{ contract.purchaseExp.options }}</p>
        <p>Base Price Incentive*: {{ contract.purchaseExp.basePriceIncentive }} </p>
        <p>Lot Premium Incentive*: {{ contract.purchaseExp.lotPremiumIncentive }}</p>
        <p>TOTAL SALES PRICE: {{ contract.purchaseExp.totalSalesPrice }}</p>
    </div>

    <p style="font-size: 10px; margin-top: 40px">* Incentives may have contingencies</p>
</div>
</body>
</html>

<div class="page-break"></div>