<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-17-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-17-central_tittle1" class="central-page"><h2>MOLD DISCLOSURE, DISCLAIMER AND WAIVER:</h2></div>
    <div id="page-17-central_tittle2" class="central-page"><h2>WHAT EVERY HOMEOWNER SHOULD KNOW ABOUT MOLD</h2></div>

    <div id="page-17-top_div">
        <h3 id="page-17-central_subtittle"><u>Disclosure</u></h3>
    </div>

    <div id="page-17-central_div">
        <p>
            <b>Mold:</b> Molds are a type of fungi that occur naturally in the environment. They are necessary for the natural decomposition of plant and
            other organic material. Mold is found everywhere life can be supported. It spreads by means of microscopic wind borne spores. Most
            homeowners are familiar with mold growth in some form or another such as bread mold, and mold that may grow on bathroom tile.
        </p>

        <p>
            If growing conditions are right, mold can grow in your home. In order to grow, mold requires (1) a food source which may be supplied by
            household items, such as fabric, carpet or wallpaper, or by building materials, such as drywall, wood and insulation, to name a few, (2) a
            temperate climate (the best growth has been determined to occur between 40°F and 100°F), and (3) moisture. Moisture is the only mold
            growth factor that can be controlled in a residential setting. A homeowner can minimize or reduce mold growth by minimizing moisture.
        </p>

        <p>
            Excessive moisture in the home can have many causes, including poor ventilation, high humidity, water intrusion, spills, leaks,
            overflows, and condensation. As Florida is prone to extremely high humidity, good housekeeping and home maintenance practices are
            essential to prevent and eliminate mold growth. If moisture is allowed to remain, mold can develop within 24 to 48 hours.
        </p>

        <p>
            <b>Consequences of Mold:</b> Although not all mold is harmful, certain strains have been shown to have adverse health effects in susceptible
            persons. The most common effects are allergic reactions, including skin irritation, watery eyes, running nose, coughing, sneezing,
            congestion, sore throat and headache. Individuals with suppressed immune systems may risk infections. Some experts disagree about
            the level of mold exposure that may cause health problems, and about the exact nature and extent of the health problems that may be
            caused by mold. The Center for Disease Control states that a casual link between the presence of toxic mold and serious health
            conditions has not been proven.
        </p>

        <p>
            <b>What Homeowners can do:</b> The homeowner can take positive steps to reduce or eliminate the occurrence of mold growth in
            the home, and thereby minimize any possible adverse effects that may be caused by mold. These steps include the
            following:
        </p>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    Indoor humidity levels should be kept below 40% and adequate ventilation should be maintained. Some recommendations include
                    using the air conditioning and/or a dehumidifier during humid months, ventilating kitchens and bathrooms by opening windows or
                    running exhaust fans, and maintaining and properly servicing your air conditioning and ventilation systems.
                </p>
            </div>
        </div>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    Before bringing any item into the home that may have been stored in a damp location (such as potted plants, furnishings, stored
                    clothing and bedding, etc.) perform a visual check for signs of mold;
                </p>
            </div>
        </div>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    Avoid storing organic material in damp locations;
                </p>
            </div>
        </div>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    Regularly vacuum, dust, and clean. Mild bleach solutions and most tile cleaners are effective in eliminating or preventing mold
                    growth;
                </p>
            </div>
        </div>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    Inspect regularly for signs of leaks or water intrusion such as discoloration or wet spots and take notice of musty odors or any visible
                    signs of mold. Inspect and clean condensation pans for refrigerators, air conditioners and other appliances frequently;
                </p>
            </div>
        </div>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    Promptly clean up and thoroughly dry spills, condensation and other sources of moisture. Replace any materials that cannot be
                    properly and thoroughly dried, such as drywall, insulation, carpets and upholstery;
                </p>
            </div>
        </div>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    In severe cases involving flooding or other significant accumulation of moisture the homeowner should contact a qualified
                    professional;
                </p>
            </div>
        </div>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    Individuals with health issues who are prone to the effects of mold should limit exposure to problem areas of the home where humid,
                    wet conditions dominate.
                </p>
            </div>
        </div>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    Seek to prevent water intrusion into the home by regular caulking and painting and maintaining the appropriate grade to allow water
                    to drain away from the house. Keep irrigation systems the proper distance from the home.
                </p>
            </div>
        </div>

        <div class="page-17-central_subdiv">
            <div class="page-17-central_subdiv_left" style="position: absolute;"><p>&#10003</p></div>
            <div class="page-17-central_subdiv_right">
                <p>
                    Should mold develop, small areas can be thoroughly cleaned with a mild bleach solution. Porous materials, such as fabric,
                    upholstery or carpet should be discarded. Should the mold growth be severe, call on the services of a qualified professional.
                </p>
            </div>
        </div>

        <p>
            If mold does develop in your home, please review the terms of your homeowner’s insurance policy as the losses arising from such a
            condition may be covered by the terms of that document.
        </p>

    </div>


    <div id="page-17-bottom_div">
        <h3>
            <u>Disclaimer and Waiver</u>
        </h3>
        <p>
            Mountain Cove Homes at South Dade, LLC’s responsibility is to repair or replace defects in our construction, including any defects that
            may contribute to mold growth, for a period of one year. Whether or not you as a homeowner experience mold growth during this time
            depends largely on how you manage and maintain your home. Therefore, Buyer acknowledges and agrees that Seller disclaims and shall
            not be liable for any actual, special, incidental or consequential damages incurred or suffered by Buyer as a result of any species of mold,
            mildew or other microscopic spore on or within the residential structure to be constructed by Seller. Buyer hereby waives any and all
            legal or equitable rights to recover such damages from Seller based upon any legal theory whatsoever, including,
        </p>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>