<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-18-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <div id="page-18-top_div">
        <p>
            but not limited to, strict liability, breach of express or implied warranties, breach of contract or negligence, without regard to whether
            such legal or equitable right has accrued or will accrue in the future. Buyer, on behalf of itself and its family members, hereby releases
            Seller, its agents, affiliates and assigns from and against any and all claims, economic loss, expense or damage related to or resulting
            from presence of or exposure to any species of mold, mildew or other microscopic spore.
        </p>
        <p>
            This <u>Mold Disclosure, Disclaimer and Waiver</u> is hereby appended to and made a part of the contract of sale. The consideration for this
            addendum shall be the same consideration as stated in the contract of sale. Should any term or provision of this agreement be ruled
            invalid or unenforceable by a court of competent jurisdiction, the remainder of this addendum and the contract of sale shall nonetheless
            stand in full force and effect.
        </p>

        <p>
            Buyer acknowledges that this addendum contains a waiver and release provision that has legal consequences affecting the Buyer’s
            rights. Buyer, by its signature set forth below, acknowledges that it has read and reviewed the foregoing <u>Mold Disclosure, Disclaimer
                and Waiver</u> and has had the opportunity to obtain the advice of legal counsel prior to the execution of this addendum.
        </p>

        <p>
            I acknowledge the receipt of this <u>Mold Disclosure, Disclaimer and Waiver</u> addendum and affirm that I have carefully read and reviewed
            its terms and that I agree to be bound by its provisions.
        </p>
    </div>

    <div id="page-18-bottom_div">
        <div id="page-18-bottom_div_2"> <p><b>Purchaser: </b></p> </div>
        <div id="page-18-bottom_div_3"> <p><b>Seller:</b></p> </div>
        <div style="margin-top: -10px">
            <div id="page-18-bottom_div_4"> <p>___________________________________________</p> </div>
            <div id="page-18-bottom_div_5"> <p>___________________________________________</p> </div>
        </div>

        <div>
            <div id="page-18-bottom_div_7"> <p><b>Date:</b> _____________________________________</p> </div>
            <div id="page-18-bottom_div_8"> <p><b>Date:</b> _____________________________________</p> </div>
        </div>

        <div id="page-18-bottom_div_9"> <p><b>Purchaser: </b></p> </div>
        <div id="page-18-bottom_div_10"> <p>___________________________________________</p> </div>
        <div id="page-18-bottom_div_11" style="margin-top: 40px"> <p><b>Date:</b> _____________________________________</p> </div>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>