<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-5-maindiv" style="max-width: 1200px; margin: 0 auto;">
    <div id="page-5-central_img"  class="central-page"><img src="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/img/mountainCove.png') }}"></div>
    <div id="page-5-central_tittle" class="central-page"><h2>Purchase agreement</h2></div>


    <div id="page-5-top_div">

        <div> <p>SELLER: {{ contract.purchaseExp.sellerName }}</p></div>
        <div>
            <p class="page-5-top_div">BUYER(S): {{ contract.buyerInformation.buyers1 }}</p>
            <p class="page-5-top_div" style="margin-left: 40px">DATE: ____________________________</p>
        </div>
        <div> <p>BUYER(S): {{ contract.buyerInformation.buyers2 }}</p></div>
        <div> <p>ADDRESS: {{ contract.buyerInformation.buyersCurrentAddress }}</p></div>
        <div>
            <p class="page-5-top_div">(Email): {{ contract.buyerInformation.email }}</p>
            <p class="page-5-top_div" style="margin-left: 10px">(H Ph.): {{ contract.buyerInformation.homePhone }}</p>
            <p class="page-5-top_div" style="margin-left: 10px">(Cell Ph.): {{ contract.buyerInformation.mobilePhone }}</p>
            <p class="page-5-top_div" style="margin-left: 10px">(W Ph.): {{ contract.buyerInformation.workPhone }}</p>
        </div>
    </div>

    <div id="page-5-central_div">
        <p>1. <b>Real Property:</b> Seller agrees to sell and Buyer agrees to purchase from Seller, subject to the conditions of this Purchase Agreement, the following
            described real estate, with the improvements erected or to be erected thereon, for the purchase price as hereinafter set forth and payable in the manner as
            hereinafter set forth:
        </p>
        <div id="page-5-subcentral_div">
            <p class="page-5-subcentral_div">Lot {{ contract.realPropInf.lot }}/Block {{ contract.realPropInf.block }} of _______________________________, according to the Plat thereof, as recorded in Plat </p>
            <p class="page-5-subcentral_div">Book ____ NUMBER {{ contract.realPropInf.platBookNumber }}, PAGE(S) {{ contract.realPropInf.platBookPage }} of the Public Records of MIAMI-DADE County, Florida;</p>
            <p style="margin-top: 20px">Street Address: {{ contract.realPropInf.streetAddress }} </p>
            <p style="margin-top: 20px">The aforementioned real property together with the improvements thereon or to be erected thereon will be hereinafter referred to as the “Premises”.
            </p>
        </div>
    </div>

    <div id="page-5-central_div_2">
        <p>2. <b>Construction:</b> (a) Seller has erected or will erect upon the Premises Model {{ contract.realPropInf.model }} Elevation {{ contract.realPropInf.elevation }}
            Orientation {{ contract.realPropInf.garageOr }} type dwelling in accordance with and in substantial compliance with the plans and specifications, and amendments thereto on file at
            Seller’s office. In the event of the inability of the Seller to obtain any appliances, fixtures, colors, materials, or brand names, the Seller shall have the
            right to substitute other appliances, fixtures, colors, materials, or brand names of substantially similar quality, utility or color, and Seller reserves the
            right to make such changes in construction as may be required by material shortages, strikes, stoppages, changes in building code regulations, Seller’s
            construction lender, or any governmental authority having jurisdiction or authority over the dwelling or the mortgage financing, or other situations as
            may, in Seller’s judgment, require such changes to be made, provided that the dwelling being purchased by Buyer shall not be substantially diminished
            in size and that substituted materials shall be equal or better quality as those originally exhibited or specified. Tile, marble, cabinets, mica, paint colors,
            carpet, vinyl patterns, plumbing fixtures, electrical fixtures and other materials and finishes are subject to shading and graduation and may vary from the
            samples. Buyer acknowledges and agrees that all exposed wood is subject to variations in color, unevenness, and nonstructural checking and cracks.
            Dimensions of the dwelling may vary slightly from the floor plans and/or models and Buyer shall not make measurements for draperies, furnishings,
            etc. until finished walls are completed.
        </p>
    </div>





    <div id="page-5-central_div_3">
        <p>
            3. <b>Estimated Completion Date:</b> The estimated completion date and closing date for this dwelling shall be _____________________________.
        </p>
    </div>

    <div id="page-5-central_div_4">
        <p>
            4. <b>Purchase Price and Deposit:</b>  The purchase price which Buyer shall pay for the Premises shall be $ ______________________________ payable as follows:
        </p>
    </div>

    <div id="page-5-bottom_div">
        <p style="text-decoration: underline"><b>Table of Deposits:</b></p>

        <table cellpadding="0" cellspacing="0" id="page-5-table">
            <tr>
                <th> Date Collected </th>
                <th> Amount </th>
                <th> Payment Type </th>
                <th> Check Number </th>
            </tr>
            <tr>
                {% for dp in tableOfDeposits %}
                <td>{{ dp.dateCollected|format('m/d/Y') }}<</td>
                <td>{{ dp.amount }}</td>
                <td>{{ dp.paymentType }}</td>
                <td>{{ dp.checkNumber }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th colspan="4"> No Earnest Deposits have been collected for this configuration.</th>
            </tr>
        </table>
        <p>
            <b>Mortgage Principal:</b> Seller agrees that the mortgage referred to in Paragraph 6 herein will not be more than
        </p>
    </div>

    <div id="page-5-bottom_div_2">
        <p>Total: $ {{ contract.purchaseExp.totalSalesPrice }}</p>
    </div>

    <div id="page-5-bottom_div_3">
        <p> <b>NOTICE TO BUYER: THE BUYER OF A SINGLE FAMILY RESIDENTIAL DWELLING UNIT HAS THE RIGHT TO HAVE ALL
                DEPOSIT FUNDS (UP TO 10% OF THE PURCHASE PRICE) DEPOSITED IN AN ESCROW ACCOUNT. THIS RIGHT MAY BE
                WAIVED, IN WRITING, BY THE BUYER. BY INITIALING IN THE BLANK PROVIDED HEREIN, BUYER ACKNOWLEDGES
                WAIVING HIS/HER RIGHT TO HAVE THE DEPOSITED FUNDS HELD IN AN ESCROW ACCOUNT.</b>
        </p>

        <p class="page-5-bottom_div_3-p">_________</p>
        <p class="page-5-bottom_div_3-p" style="margin-left: 50px">_________</p>

        <p><b>ORAL REPRESENTATIONS CANNOT BE RELIED UPON AS CORRECTLY STATING THE REPRESENTATIONS OF THE SELLER.
                FOR CORRECT REPRESENTATIONS REFERENCE SHOLD BE MADE TO THIS PURCHASE AGREEMENT.
            </b>
        </p>
    </div>
</div>
</body>
</html>

<div class="page-break"></div>