<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-6-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <p>
        5. <b>Default: </b> Should Buyer fail to make any of the payments being due hereunder, as hereinabove scheduled, or fail or refuse to execute
        the instruments required to close this transaction, or refuse to pay any costs or other sums required by this Purchase Agreement or
        otherwise defaults hereunder, then Seller may declare this Purchase Agreement terminated and retain and be entitled to all deposits,
        including any deposits not yet made at the time of default and/or other monies paid by Buyer as liquidated and agreed upon damages for
        which Seller shall have sustained and suffered as a result of Buyer’s default, and thereupon the parties hereto will be released from all
        obligations hereunder. The provisions herein contained for liquidated and agreed upon damages are a bona fide provision for such and
        are not a penalty, the parties understanding that by reason of the withdrawal of the Premises from the sale to the general public at a time
        when other parties would be interested in purchasing the Premises, that Seller will have sustained damages if Buyer defaults, which
        damages will be substantial but will not be capable of determination with mathematical precision and, therefore, as aforesaid, this
        provision for liquidated and agreed upon damages has been incorporated in this Purchase Agreement as a provision beneficial to both
        parties. Buyer agrees that if the Buyer defaults in this Purchase Agreement that the Buyer will not file any action against Seller seeking
        the return of any portion of said payments made pursuant to this Purchase Agreement or seeking any reduction in the amount of the
        liquidated and agreed upon damages.

    </p>

    <p>
        6. <b>Buyer Financing: </b>  (a) If Buyer is to obtain financing from Seller’s recommended lending institution or institutions (See list of
        “Preferred Lenders” in attached Builder’s Referral Incentives and Contributions Addendum), then, Buyer shall complete and deliver to
        such Preferred Lender all of the mortgage application forms, documents and all financial data that may be required by such Preferred
        Lender within ten (10) days from the date of this Purchase Agreement. The said mortgage financing will be a loan in an amount as set
        forth above and shall be for a term, and at an annual rate of interest, and upon such terms as may be customary in the area at the time of
        the closing of the Premises. In the event Buyer fails to complete and deliver said application forms to the lender as hereinabove provided,
        or if the Preferred Lender refuses to accept the mortgage from Buyer because of inaccurate or untrue statements set forth in Buyer’s
        application, then in either event, Seller shall treat this transaction as an “all cash” purchase, notwithstanding any other provisions
        contained herein to the contrary relating to mortgage financing. Buyer agrees to incur no indebtedness subsequent to the date hereof
        which might jeopardize approval of said mortgage loan or take any action that could detrimentally affect approval of said mortgage loan.
        If Buyer obtains financing through one of the Seller’s Preferred Lenders and if such Preferred Lender should include within its approval
        and/or commitment a condition that Buyer sell or rent other real estate owned by Buyer, Buyer shall be fully responsible to comply with
        such condition. If Buyer is unable to sell his home or other real estate or rent the same in accordance with such approval and/or
        commitment, and the Preferred Lender fails to close the loan as a result, this transaction shall be deemed an “all cash” transaction and not
        contingent upon the Buyer obtaining financing. Buyer shall execute and deliver the note, mortgage and such other documents as may be
        required by the Preferred Lender or the Seller. If the Buyer is married and the Buyer’s spouse is not named as a Buyer herein, Buyer shall
        cause such spouse to execute the mortgage and other closing documents as required by the Preferred Lender to create a valid mortgage
        lien. The Buyer may elect to obtain his own financing, in which event; this transaction shall be considered an “all cash” transaction and
        not contingent upon Buyer obtaining financing.
    </p>

    <p>
        (b) If Buyer qualifies with the Preferred Lender for a mortgage of lesser principal amount than described on the first page herein, Buyer
        shall be deemed to have agreed to accept such lesser principal amount (without diminishment in the Purchase Price) unless within five
        (5) days after written notice thereof, Buyer gives Seller notice to the contrary, whereupon Buyer will be required to apply for a mortgage
        loan with another Preferred Lender. If Buyer obtains financing through a Preferred Lender, Buyer agrees to pay all costs for closing said
        mortgage, including the mortgagee’s closing costs. If the Preferred Lender refuses to accept a mortgage from the Buyer, then Buyer will
        be required to apply for a mortgage from another Preferred Lender within five (5) days after notice that the first Preferred Lender refused
        to make the mortgage loan to Buyer. If the second Preferred Lender refuses to make a mortgage to Buyer, then Buyer shall have ten (10)
        days from Buyer receiving notice that the Second Preferred Lender will not make a mortgage loan to Buyer to notify Seller that Buyer
        has cancelled the Purchase Agreement and failure to notify Seller within said time period shall constitute an election by Buyer to proceed
        and the transaction will be considered an all cash transaction without a financing contingency notwithstanding any language to the
        contrary concerning mortgage financing. If Buyer cancels this Purchase Agreement in accordance with the preceding sentence, then the
        deposit shall be returned to Buyer (less any costs of any Upgrades or Options ordered by Buyer and a $250.00 nonrefundable deposit)
        in which event this Purchase Agreement shall be terminated and neither party shall owe the other any further duty or obligation
        hereunder.
    </p>

    <p class="page-5-bottom_div_3-p">_________</p>
    <p class="page-5-bottom_div_3-p" style="margin-left: 50px">_________</p>

    <p>
        (c) If Buyer elects to obtain his own financing, Seller shall treat this transaction as an “all cash” purchase, notwithstanding any other
        provisions contained herein to the contrary relating to mortgage financing. Buyer agrees to incur no indebtedness subsequent to the date
        hereof which might jeopardize approval of said mortgage loan. Buyer shall execute and deliver the note, mortgage and such other
        documents as may be required by the lender or the Seller. If the Buyer is married and the Buyer’s spouse is not named as a Buyer herein,
        Buyer shall cause such spouse to execute the mortgage and other closing documents as required by the lender to create a valid mortgage
        lien. Additionally, if Buyer obtains financing through a lender other than one recommended by Seller, then Buyer shall be responsible to
        Seller at the time of closing for all costs incurred by Seller in the event the lender chosen by Buyer delays the closing or funding of the
        loan proceeds. Such costs shall include, but not be limited to interest, taxes, upkeep and maintenance incurred by Seller on the Premises
        past the scheduled closing date.
    </p>

    <p class="page-5-bottom_div_3-p">_________</p>
    <p class="page-5-bottom_div_3-p" style="margin-left: 50px">_________</p>

    <p>
        (d) The purchase shall be deemed to be for “all cash” and not be contingent upon Buyer qualifying for a mortgage: (i) if the blank space
        in Paragraph 4 herein is marked “none” or left blank, and Buyer shall provide verification of such funds to Seller within seven (7) days of
        the Purchase Agreement; or (ii) if Buyer elects to obtain his own mortgage with a lender other than a Preferred Lender, and Buyer shall
        notify the Seller in writing of such election within five (5) days of Purchase Agreement date, and within (30) days of Purchase
        Agreement date shall deliver to Seller a written commitment for said mortgage financing.
    </p>

    <p class="page-5-bottom_div_3-p">_________</p>
    <p class="page-5-bottom_div_3-p" style="margin-left: 50px">_________</p>

    <p>
        <b>(e) If Buyer is purchasing the Premises for investment purposes or any other purpose other than to be occupied and owned as
            Buyer primary residence, then in such event this transaction shall be deemed an “all cash” transaction and not contingent upon
            Buyer obtaining financing.</b>
    </p>
</div>
</body>
</html>

<div class="page-break"></div>