<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {# <link rel="stylesheet" href="{{ app.request.schemeAndHttpHost ~ asset('bundles/mchcrm/css/pdfStyle.css') }}"> #}
</head>
<body>
<div id="page-10-maindiv" style="max-width: 1020px; margin: 0 auto;">
    <p>
        <b>NOTICE TO BUYER: BY VIRTUE OF ACCEPTING TITLE TO THE PROPERTY WHICH IS THE SUBJECT OF THIS
            PURCHASE AGREEMENT, YOU, AS BUYER, SHALL BECOME MEMBERS OF THE HOMEOWNERS ASSOCIATION
            AND MAY BE RESPONSIBLE FOR PAYING ASSESSMENTS TO THE ASSOCIATION OR ANY COMMUNITY
            DEVELOPMENT DISTRICT HAVING JURISDICTION OVER THE PROJECT. A DISCLOSURE SUMMARY IS
            REQUIRED TO BE PROVIDED TO YOU PURSUANT TO SECTION 720.401 OF THE FLORIDA STATUTES. YOU
            SHOULD NOT EXECUTE THE PURCHASE AGREEMENT OR AGREEMENT UNTIL YOU HAVE RECEIVED AND
            READ THE AFORESAID DISCLOSURE SUMMARY.</b>
    </p>
    <p>
        <b>IF THE DISCLOSURE SUMMARY REQUIRED BY SECTION 720.401, FLORIDA STATUTES, HAS NOT BEEN
            PROVIDED TO THE PROSPECTIVE BUYER BEFORE EXECUTING THIS PURCHASE AGREEMENT FOR SALE,
            THIS PURCHASE AGREEMENT IS VOIDABLE BY BUYER BY DELIVERING TO SELLER OR SELLER’S AGENT OR
            REPRESENTATIVE WRITTEN NOTICE OF THE BUYER’S INTENTION TO CANCEL WITHIN 3 DAYS AFTER
            RECEIPT OF THE DISCLOSURE SUMMARY OR PRIOR TO CLOSING, WHICHEVER OCCURS FIRST. ANY
            PURPORTED WAIVER OF THIS VOIDABILITY RIGHT HAS NO EFFECT. BUYER’S RIGHT TO VOID THIS
            PURCHASE AGREEMENT SHALL TERMINATE AT CLOSING.</b>
    </p>

    <p>
        IN WITNESS WHEREOF, the parties hereto have caused these presents to be executed, the day and year above written.
    </p>

    <div id="page-10-bottom_div">
        <div class="page-10-bottom_div_2"> <p>Purchaser: </p> </div>
        <div class="page-10-bottom_div_2" style="margin-left: 470px"> <p>Seller:</p> </div>
    </div>

    <div id="page-10-bottom_div_3">
        <div class="page-10-bottom_div_3"> <p>___________________________________________</p> </div>
        <div class="page-10-bottom_div_3" style="margin-left: 220px"> <p>{{ contract.purchaseExp.sellerName }}</p> </div>
    </div>

    <div id="page-10-bottom_div_4">
        <p>Sales Representative</p>
    </div>

    <div id="page-10-bottom_div_5">
        <div class="page-10-bottom_div_5"> <p>Date: _____________________________________ </p> </div>
        <div class="page-10-bottom_div_5" style="position:float; margin-left: 220px"> <p>Date: _____________________________________</p> </div>
    </div>

    <div id="page-10-bottom_div_6">
        <p>THIS PURCHASE AGREEMENT IS NOT BINDING ON
            THE SELLER UNLESS APPROVED BY A CORPORATE
            OFFICER.
        </p>
    </div>

    <div id="page-10-bottom_div_7"> <p><b>Purchaser:</b> </p> </div>
    <div id="page-10-bottom_div_8"> <p>___________________________________________</p> </div>
    <div id="page-10-bottom_div_9"> <p><b>This Purchase Agreement approved</b></p> </div>
    <div id="page-10-bottom_div_10"> <p>Date: _____________________________________ </p> </div>
    <div id="page-10-bottom_div_11" class="page-10-bottom_div_11"> <p>___________________________________________</p> </div>
    <div id="page-10-bottom_div_12" class="page-10-bottom_div_11"> <p>By</p> </div>
    <div id="page-10-bottom_div_13" class="page-10-bottom_div_11"> <p>___________________________________________</p> </div>
    <div id="page-10-bottom_div_14" class="page-10-bottom_div_11"> <p>Corporate Officer</p> </div>
    <div id="page-10-bottom_div_15" class="page-10-bottom_div_11"> <p>___________________________________________</p> </div>
    <div id="page-10-bottom_div_16" class="page-10-bottom_div_11"> <p>Date</p> </div>

    <div id="page-10-bottom_div_17" style="margin-top: 100px"> <p><b>TOTAL SALES PRICE $__________________ </b></p> </div>
</div>
</body>
</html>

<div class="page-break"></div>